In [ ]:
import sys
# input = lambda: sys.stdin.readline().rstrip()

A

In [12]:
import sys
input = lambda: sys.stdin.readline().rstrip()

for _ in range(int(input())):
    n, m = map(int, input().split())

    if n == 1 and m == 1:
        print(0)
    elif n == 1 and m == 2:
        print(1)
    elif n == 2 and m == 1:
        print(1)
    elif n == 1 or m == 1:
        print(-1)
    else:
        n -= 1
        m -= 1

        if abs(n - m) <= 1:
            print(n + m)
        else:
            if m < n:
                n, m = m, n

            r = min(m, n) * 2
            m -= min(m, n)

            r += m // 2 * 4
            if m % 2:
                r += 1

            print(r)

1
3 3
4
4

B

In [ ]:
import sys
input = lambda: sys.stdin.readline().rstrip()

for _ in range(int(input())):
    n, m = map(int, input().split())
    li = sorted(map(int, input().split()), reverse=True)

    r = 0
    for i in range(n - 1):
        r += li[i]

    r += li[0]
    r += n

    if m < r:
        print('NO')
    else:
        print('YES')

C

In [19]:
n = int(input())
li = list(map(int, input().split()))

r = float('inf')
for i in range(n):
    temp_r = 0

    cur = 0
    for j in range(i + 1, n):
        temp = cur // li[j]
        temp_r += temp
        
        ncur = temp * li[j]
        
        temp_r += 1
        ncur += li[j]
        
        cur = ncur
        
    cur = 0
    for j in range(i - 1, -1, -1):
        temp = cur // li[j]
        temp_r += temp
        
        ncur = temp * li[j]
        
        temp_r += 1
        ncur += li[j]
        
        cur = ncur
        
    r = min(r, temp_r)
    
print(r)

3
2 1 3
2

D

In [224]:
n = int(input())

if n <= 2:
    print(1)
    print(1, 1)
elif n == 3:
    print(2)
    print(1, 1)
    print(1, 2)
elif n == 4:
    print(3)
    print(1, 1)
    print(1, 2)
    print(1, 3)
else:
    if n <= 7:
        print(n - 2)
        for i in range(n - 4):
            print(i + 1, i + 1)
        print(i + 3, i + 2)
        print(i + 2, i + 3)
    else:
        if n % 2 == 1:
            n -= 1
        
        temp = n - 8
        delta = temp // 6
        
        if n == 15 or (n - 15) % 6 == 0:
            delta -= 1
        
        r = [(1, 1)]
        x = 1
        y = 2
        for _ in range((n - 4) // 2 - delta):
            r.append((x + 1, y + 1))
            x += 1
            y += 2

        y = 1
        for _ in range((n - 4) // 2 - delta):
            r.append((x + 1, y + 1))
            x += 1
            y += 2
            
        print(len(r))
        for v in r:
            print(*v)

20
13
1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 2
9 4
10 6
11 8
12 10
13 12

In [ ]:
-1은 14 6
-2은 20 12
-3은 26 18

In [ ]:
15, 21, 27

In [247]:
21 - 15

6

In [248]:
27 - 15

12

In [ ]:
n == 15 or (n - 15) % 6 == 0

In [ ]:
8 정답
color(0, 0)
color(1, 2)
color(2, 4)
color(3, 1)
color(4, 3)

In [ ]:
0 0
2 1
1 2

In [ ]:
4 2

In [ ]:
1 1
2 3
3 5
4 2
5 4

li =

In [246]:
def color(x, y):
    for i in range(n):
        li[x][i] = '*'
        li[i][y] = '*'
        
    nx = x
    ny = y
    while nx >= 0 and ny >= 0:
        li[nx][ny] = '*'
        nx -= 1
        ny -= 1
    
    nx = x
    ny = y
    while nx < n and ny < n:
        li[nx][ny] = '*'
        nx += 1
        ny += 1




n = 23
li = [[' '] * n for _ in range(n)]

color(0, 0)
print(0, 0)

x = 1
y = 2
for _ in range((n - 4) // 2 - 2):
    color(x, y)
    print(x, y)
    x += 1
    y += 2
    
y = 1
for _ in range((n - 4) // 2 - 2):
    color(x, y)
    print(x, y)
    x += 1
    y += 2

c = 0
for i in range(n):
    for j in range(n):
        if li[i][j] == '*':
            c += 1

print(n * n == c)

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 1
9 3
10 5
11 7
12 9
13 11
14 13
True

In [ ]:
-1은 14
-2은 20
-3은 26

In [ ]:
15, 21, 27

In [ ]:
8 정답
color(0, 0)
color(1, 2)
color(2, 4)
color(3, 1)
color(4, 3)

10정답
color(0, 0)
color(1, 2)
color(2, 4)
color(3, 6)
color(4, 1)
color(5, 3)
color(6, 5)

12 안됨

14됨 16됨 18됨

In [ ]:
8 -> 6
4 2

9 -> 7
5 2

10 -> 8
6 2

In [ ]:
8 -> 5
['*', True, True, True, True, True, True, True]
[True, True, '*', True, True, True, True, True]
[True, True, True, True, '*', True, True, True]
[True, '*', True, True, True, True, True, True]
[True, True, True, '*', True, True, True, True]
[True, True, True, True, True, True, True, True]
[True, True, True, True, True, True, True, True]
[True, True, True, True, True, True, True, True]


5, 6, 9, 10, 11, 12 같은 것 적용됨

8은 n - 3?

In [ ]:
li

In [ ]:
from itertools import combinations as comb

def color(x, y):
    for i in range(n):
        li[x][i] = True
        li[i][y] = True
        
    nx = x
    ny = y
    while nx >= 0 and ny >= 0:
        li[nx][ny] = True
        nx -= 1
        ny -= 1
    
    nx = x
    ny = y
    while nx < n and ny < n:
        li[nx][ny] = True
        nx += 1
        ny += 1

n = 9
cases = comb(range(n * n), n - 4)
for case in cases:
    li = [[False] * n for _ in range(n)]
    for v in case:
        color(v // n, v % n)

    temp = sum(sum(li, []))
    if temp == n * n:
        for v in case:
            li[v // n][v % n] = '*'
            
        for v in li:
            print(v)
        print()

In [40]:
list(cases)

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (0, 11),
 (0, 12),
 (0, 13),
 (0, 14),
 (0, 15),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (1, 15),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (2, 15),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (3, 15),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14),
 (4, 15),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10),
 (5, 11),
 (5, 12),
 (5, 13),
 (5, 14),
 (5, 15),
 (6, 7),
 (6, 8),
 (6, 9),
 (6, 10),
 (6, 11),
 (6, 12),
 (6, 13),
 (6, 14),
 (6, 15),
 (7, 8),
 (7, 9),
 (7, 10),
 (7, 11),
 (7, 12),
 (7, 13),
 (7, 14),
 (7, 15),
 (8, 9),
 (8, 10),
 (8, 11),
 (8, 12),
 (8, 13),
 (8, 14),
 (8, 15),
 (9, 10),
 (9, 11),
 (9, 12),
 (9, 13),
 (9, 14),
 (9, 15),
 (10, 11),
 (10, 12),
 (10, 13),
 (10, 14),
 (10, 15),
 (11, 12),
 (11, 13),
 (11, 14),
 (11, 15),
 (12, 13),
 (12, 14),
 (12, 15),
 (13, 14),
 (13, 15),
 (14, 15)]

In [ ]:
64c 7

In [36]:
def nCr(n, r):
    if n - r < r:
        r = n - r
        
    num = 1
    for i in range(n, n - r, -1):
        num *= i
    
    denom = 1
    for i in range(2, r + 1):
        denom *= i
        
    return num // denom

nCr(64, 6)

74974368