### Fly me to the Alpha Centauri 1011

In [ ]:
차이가 2: 2
차이가 3: 3

In [ ]:
distance = 6

left = 2
right = 1
needed = 3

left = 2
right = 2
needed = 4

In [12]:
def get_sum(x):
    return (x * (x + 1)) // 2

for _ in range(int(input())):
    x, y = map(int, input().split())
    distance = y - x

    if distance == 1:
        print(1)
    elif distance == 2:
        print(2)
    else:
        left = 2
        right = 1
        needed = 3
        while True:
            if distance > get_sum(left) + get_sum(right):
                if left > right:
                    right += 1
                else:
                    left += 1
                needed += 1
            else:
                print(needed)
                break

3
0 3
3
1 5
3
45 50
4

### 직사각형 2527
- 수학, 기하학

In [14]:
for _ in range(4):
    asx, asy, aex, aey, bsx, bsy, bex, bey = map(int, input().split())
    
    if (asx, asy) == (bex, bey) or (asy, aey) == (bex, bsy) or (aex, aey) == (bsx, bsy) or (aex, asy) == (bsx, bey):
        print('c')
    elif aey < bsy or bey < asy or aex < bsx or bex < asx:
        print('d')
    elif (aex == bsx and (bsy < aey or asy < bey)) or (aey == bsy and (bsx < aex or asx < bex)) or (asx == bex and (asy < bey or bsy < aey)) or (asy == bey and (asx < bex or bsx < aex)):
        print('b')
    else:
        print('a')

3 10 50 60 100 100 200 300
d
45 50 600 600 400 450 500 543
a
11 120 120 230 50 40 60 440
a
35 56 67 90 67 80 500 600
b

### 수열 2575

In [ ]:
1번


2번
소수들을 구함
M을 소인수 분해
2 제곱 같은 경우는 하나로 합쳐진 수로 쓰고 나머지는 하나씩 써줌

In [27]:
M = int(input())
primes = [False] * 2 + [True] * (M - 1)

for mod in range(2, int(M ** 0.5) + 1):
    if not primes[mod]:
        continue
    for i in range(mod * mod, M + 1, mod):
        primes[i] = False
        
primes = [i for i, v in enumerate(primes) if v]

result = []

# 문제 A
if M <= 4:
    result.append(2)
else:
    value =  M // 3
    remain = M % 3

    if remain == 2:
        value += 1

    result.append(value)

# 문제 B
is_two_reflected = False
while True:
    if M % 2 == 0:
        is_two_reflected = True
        M //= 2
    else:
        break
        
if M == 1:
    result.append(2)
else:
    value = 0
    if is_two_reflected:
        value += 1
    for p in primes:
        while True:
            if M % p == 0:
                M //= p
                value += 1
            else:
                break
    result.append(max(value, 2))
    
print(*result)

17
6 2

### 순서쌍의 곱의 합 13900

In [30]:
n = int(input())
li = list(map(int, input().split()))
sum_value = sum(li)

total = 0
for v in li:
    total += v * (sum_value - v)
    
print(total // 2)

4
2 3 2 4
44

### 공백 없는 A+B 15873

In [33]:
s = input()

if s[:2] == '10':
    a = int(s[:2])
    b = int(s[2:])
else:
    a = int(s[:1])
    b = int(s[1:])
    
print(a + b)

1010
20

### 삼각형 만들기 1448

In [9]:
import sys
# input = sys.stdin.readline

n = int(input().rstrip())
li = [int(input().rstrip()) for _ in range(n)]
li.sort(reverse=True)
result = -1
for i in range(n - 2):
    if li[i] < li[i + 1] + li[i + 2]:
        result = li[i] + li[i + 1] + li[i + 2]
        break
        
print(result)

3
1
2
3
-1

In [11]:
n = int(input())
li = list(map(int, input().split()))

def check():
    for i in range(n):
        if i % 2 == 0:
            if li[i] % 2 == 0:
                return 'NO'
        else:
            if li[i] % 2 == 1:
                return 'NO'
    return 'YES'

print(check())

5
3 1 5 2 4
NO

### 전화 요금 3226

In [14]:
from_10 = 7 * 60
to_10 = 19 * 60

n = int(input())
total = 0
for _ in range(n):
    hm, dd = input().split()
    dd = int(dd)
    h, m = hm.split(':')
    h = int(h)
    m = int(m)
    
    t = h * 60 + m
    for v in range(t, t + dd):
        if from_10 <= v < to_10:
            total += 10
        else:
            total += 5
            
print(total)

2
11:02 11
15:30 01
120

### 무알콜 칵테일 2896

In [27]:
a, b, c = map(int, input().split())
ra, rb, rc = map(int, input().split())

ratios = [a / ra, b / rb, c / rc]
min_index = ratios.index(min(ratios))

result = [a - ra * ratios[min_index], b - rb * ratios[min_index], c - rc * ratios[min_index]]
print(*result)

10 15 18
3 4 1
0.0 1.666666666666666 14.666666666666666

### 유니크 5533
- 구현, 사칙연산

In [35]:
from collections import Counter

n = int(input())
total_scores = [0] * n
cards = [list(map(int, input().split())) for _ in range(n)]

t = list(zip(*cards))
t = [Counter(v) for v in t]

for i in range(3):
    for player in range(n):
        if t[i][cards[player][i]] == 1:
            total_scores[player] += cards[player][i]
            
print('\n'.join(map(str, total_scores)))

0
92
215
198
89

### 선분 교차 1 17386
- 기하학, 선분 교차 판정

In [ ]:
asx, asy, aex, aey = map(int, input().split())
bsx, bsy, bex, bey = map(int, input().split())

if asx > aex:
    asx, aex = aex, asx
    asy, aey = aey, asy
if bsx > bex:
    bsx, bex = bex, bsx
    bsy, bey = bey, bsy
if asx > bsx:
    bsx, bsy, bex, bey, asx, asy, aex, aey = asx, asy, aex, aey, bsx, bsy, bex, bey

if aex == asx:
    a_of_a = float('inf')
else:
    a_of_a = (aey - asy) / (aex - asx)

b_of_a = asy - a_of_a * asx

if bex == bsx:
    a_of_b = float('inf')
else:
    a_of_b = (bey - bsy) / (bex - bsx)

b_of_b = bsy - a_of_b * bsx

a_of_a = round(a_of_a, 12)
b_of_a = round(b_of_a, 12)
a_of_b = round(a_of_b, 12)
b_of_b = round(b_of_b, 12)

co_x = float('inf')
co_y = float('inf')

# 두 선분의 기울기가 같은 경우
if a_of_a == a_of_b:
    # 기울기가 둘 다 무한대인 경우
    if a_of_a == float('inf'):
        # 같은 x축에 있는 경우
        if asx == bsx:
            if max(bsy, bey) < min(asy, aey) or max(asy, aey) < min(bsy, bey):
                result = 0
            else:
                result = 1
                if max(bsy, bey) == min(asy, aey):
                    co_x = asx
                    co_y = bey
                elif max(asy, aey) == min(bsy, bey):
                    co_x = asy
                    co_y = aey
        else:
            result = 0       
    # 같은 직선에 속하는 경우
    elif b_of_a == b_of_b:
        # 한 점에서 만나는 경우
        if aex == bsx:
            result = 1
            co_x = aex
            co_y = aey
        # 여러 점에서 만나는 경우
        elif bsx < aex:
            result = 1
        else:
            result = 0
    else:
        result = 0 
else:   
    if a_of_a == float('inf') or a_of_a == -float('inf'):
        co_x = asx
        co_y = a_of_b * co_x + b_of_b
    elif a_of_b == float('inf') or a_of_b == -float('inf'):
        co_x = bsx
        co_y = a_of_a * co_x + b_of_a        
    else:
        co_x = -(b_of_a - b_of_b) / (a_of_a - a_of_b)
        co_y = a_of_a * co_x + b_of_a    

    if (asx <= co_x <= aex and
        min(asy, aey) <= co_y <= max(asy, aey) and
        bsx <= co_x <= bex and
        min(bsy, bey) <= co_y <= max(bsy, bey)):
        result = 1
    else:
        result = 0

if result == 0:
    print(0)
else:
    print(1)

### 선분 교차 2 17387
- 기하학, 선분 교차 판정

In [ ]:
from decimal import getcontext, Decimal

getcontext().prec = 1000
base_diff = Decimal('0.000000000000000000001')

asx, asy, aex, aey = map(int, input().split())
bsx, bsy, bex, bey = map(int, input().split())

if asx > aex:
    asx, aex = aex, asx
    asy, aey = aey, asy
if bsx > bex:
    bsx, bex = bex, bsx
    bsy, bey = bey, bsy
if asx > bsx:
    bsx, bsy, bex, bey, asx, asy, aex, aey = asx, asy, aex, aey, bsx, bsy, bex, bey

asx = Decimal(asx)
aex = Decimal(aex)
asy = Decimal(asy)
aey = Decimal(aey)
bsx = Decimal(bsx)
bex = Decimal(bex)
bsy = Decimal(bsy)
bey = Decimal(bey)
    
if aex == asx:
    a_of_a = Decimal('Infinity')
    b_of_a = Decimal('Infinity')
else:
    a_of_a = (aey - asy) / (aex - asx)
    b_of_a = asy - a_of_a * asx

if bex == bsx:
    a_of_b = Decimal('Infinity')
    b_of_b = Decimal('Infinity')
else:
    a_of_b = (bey - bsy) / (bex - bsx)    
    b_of_b = bsy - a_of_b * bsx

co_x = Decimal('Infinity')
co_y = Decimal('Infinity')

# 두 선분의 기울기가 같은 경우
if str(a_of_a) == str(a_of_b):
    # 기울기가 둘 다 무한대인 경우
    if a_of_a == Decimal('Infinity'):
        # 같은 x축에 있는 경우
        if asx == bsx:
            if max(bsy, bey) < min(asy, aey) or max(asy, aey) < min(bsy, bey):
                result = 0
            else:
                result = 1
                if max(bsy, bey) == min(asy, aey):
                    co_x = asx
                    co_y = bey
                elif max(asy, aey) == min(bsy, bey):
                    co_x = asy
                    co_y = aey
        else:
            result = 0       
    # 같은 직선에 속하는 경우
    elif str(b_of_a) == str(b_of_b):
        # 한 점에서 만나는 경우
        if aex == bsx:
            result = 1
            co_x = aex
            co_y = aey
        # 여러 점에서 만나는 경우
        elif bsx < aex:
            result = 1
        else:
            result = 0
    else:
        result = 0 
else:   
    if a_of_a == Decimal('Infinity') or a_of_a == -Decimal('Infinity'):
        co_x = asx
        co_y = a_of_b * co_x + b_of_b
    elif a_of_b == Decimal('Infinity') or a_of_b == -Decimal('Infinity'):
        co_x = bsx
        co_y = a_of_a * co_x + b_of_a        
    else:
        co_x = -(b_of_a - b_of_b) / (a_of_a - a_of_b)
        co_y = a_of_a * co_x + b_of_a    

    if (asx - base_diff <= co_x <= aex + base_diff and
        min(asy, aey) - base_diff <= co_y <= max(asy, aey) + base_diff and
        bsx - base_diff <= co_x <= bex + base_diff and
        min(bsy, bey) - base_diff <= co_y <= max(bsy, bey) + base_diff):
        result = 1
    else:
        result = 0

if result == 0:
    print(0)
else:
    print(1)

### 선분 교차 3 20149
- 기하학, Case work, 선분 교차 판정

In [ ]:
from decimal import getcontext, Decimal

getcontext().prec = 1000
base_diff = Decimal('0.000000000000000000001')

asx, asy, aex, aey = map(int, input().split())
bsx, bsy, bex, bey = map(int, input().split())

if asx > aex:
    asx, aex = aex, asx
    asy, aey = aey, asy
if bsx > bex:
    bsx, bex = bex, bsx
    bsy, bey = bey, bsy
if asx > bsx:
    bsx, bsy, bex, bey, asx, asy, aex, aey = asx, asy, aex, aey, bsx, bsy, bex, bey

asx = Decimal(asx)
aex = Decimal(aex)
asy = Decimal(asy)
aey = Decimal(aey)
bsx = Decimal(bsx)
bex = Decimal(bex)
bsy = Decimal(bsy)
bey = Decimal(bey)
    
if aex == asx:
    a_of_a = Decimal('Infinity')
    b_of_a = Decimal('Infinity')
else:
    a_of_a = (aey - asy) / (aex - asx)
    b_of_a = asy - a_of_a * asx

if bex == bsx:
    a_of_b = Decimal('Infinity')
    b_of_b = Decimal('Infinity')
else:
    a_of_b = (bey - bsy) / (bex - bsx)    
    b_of_b = bsy - a_of_b * bsx

co_x = Decimal('Infinity')
co_y = Decimal('Infinity')

# 두 선분의 기울기가 같은 경우
if str(a_of_a) == str(a_of_b):
    # 기울기가 둘 다 무한대인 경우
    if a_of_a == Decimal('Infinity'):
        # 같은 x축에 있는 경우
        if asx == bsx:
            if max(bsy, bey) < min(asy, aey) or max(asy, aey) < min(bsy, bey):
                result = 0
            else:
                result = 1
                if max(bsy, bey) == min(asy, aey):
                    co_x = asx
                    co_y = bey
                elif max(asy, aey) == min(bsy, bey):
                    co_x = asy
                    co_y = aey
        else:
            result = 0       
    # 같은 직선에 속하는 경우
    elif str(b_of_a) == str(b_of_b):
        # 한 점에서 만나는 경우
        if aex == bsx:
            result = 1
            co_x = aex
            co_y = aey
        # 여러 점에서 만나는 경우
        elif bsx < aex:
            result = 1
        else:
            result = 0
    else:
        result = 0 
else:   
    if a_of_a == Decimal('Infinity') or a_of_a == -Decimal('Infinity'):
        co_x = asx
        co_y = a_of_b * co_x + b_of_b
    elif a_of_b == Decimal('Infinity') or a_of_b == -Decimal('Infinity'):
        co_x = bsx
        co_y = a_of_a * co_x + b_of_a        
    else:
        co_x = -(b_of_a - b_of_b) / (a_of_a - a_of_b)
        co_y = a_of_a * co_x + b_of_a    

    if (asx - base_diff <= co_x <= aex + base_diff and
        min(asy, aey) - base_diff <= co_y <= max(asy, aey) + base_diff and
        bsx - base_diff <= co_x <= bex + base_diff and
        min(bsy, bey) - base_diff <= co_y <= max(bsy, bey) + base_diff):
        result = 1
    else:
        result = 0

if result == 0:
    print(0)
else:
    print(1)
    if co_x != Decimal('Infinity'):
        print(str(co_x), str(co_y))

### 선분 그룹 2162
- 자료 구조, 기하학, 분리 집합, 선분 교차 판정

In [ ]:
# 시간 초과, 일단 포기, CCW 알고리즘을 배워야함
from decimal import getcontext, Decimal
import sys
# input = sys.stdin.readline

getcontext().prec = 100
base_diff = Decimal('0.000000000000000000001')

def check(a, b):
    asx, asy, aex, aey = a
    bsx, bsy, bex, bey = b
    
    if asx > aex:
        asx, aex = aex, asx
        asy, aey = aey, asy
    if bsx > bex:
        bsx, bex = bex, bsx
        bsy, bey = bey, bsy
    if asx > bsx:
        bsx, bsy, bex, bey, asx, asy, aex, aey = asx, asy, aex, aey, bsx, bsy, bex, bey

    asx = Decimal(asx)
    aex = Decimal(aex)
    asy = Decimal(asy)
    aey = Decimal(aey)
    bsx = Decimal(bsx)
    bex = Decimal(bex)
    bsy = Decimal(bsy)
    bey = Decimal(bey)

    if aex == asx:
        a_of_a = Decimal('Infinity')
        b_of_a = Decimal('Infinity')
    else:
        a_of_a = (aey - asy) / (aex - asx)
        b_of_a = asy - a_of_a * asx

    if bex == bsx:
        a_of_b = Decimal('Infinity')
        b_of_b = Decimal('Infinity')
    else:
        a_of_b = (bey - bsy) / (bex - bsx)    
        b_of_b = bsy - a_of_b * bsx

    co_x = Decimal('Infinity')
    co_y = Decimal('Infinity')

    # 두 선분의 기울기가 같은 경우
    if str(a_of_a) == str(a_of_b):
        # 기울기가 둘 다 무한대인 경우
        if a_of_a == Decimal('Infinity'):
            # 같은 x축에 있는 경우
            if asx == bsx:
                if max(bsy, bey) < min(asy, aey) or max(asy, aey) < min(bsy, bey):
                    result = 0
                else:
                    result = 1
            else:
                result = 0       
        # 같은 직선에 속하는 경우
        elif str(b_of_a) == str(b_of_b):
            # 한 점에서 만나는 경우
            if aex == bsx:
                result = 1
                co_x = aex
                co_y = aey
            # 여러 점에서 만나는 경우
            elif bsx < aex:
                result = 1
            else:
                result = 0
        else:
            result = 0 
    else:   
        if a_of_a == Decimal('Infinity') or a_of_a == -Decimal('Infinity'):
            co_x = asx
            co_y = a_of_b * co_x + b_of_b
        elif a_of_b == Decimal('Infinity') or a_of_b == -Decimal('Infinity'):
            co_x = bsx
            co_y = a_of_a * co_x + b_of_a        
        else:
            co_x = -(b_of_a - b_of_b) / (a_of_a - a_of_b)
            co_y = a_of_a * co_x + b_of_a    

        if (asx - base_diff <= co_x <= aex + base_diff and
            min(asy, aey) - base_diff <= co_y <= max(asy, aey) + base_diff and
            bsx - base_diff <= co_x <= bex + base_diff and
            min(bsy, bey) - base_diff <= co_y <= max(bsy, bey) + base_diff):
            result = 1
        else:
            result = 0

    return result

n = int(input().rstrip())
parent = list(range(n))
rank = [0] * n

def find(v):
    if parent[v] == v:
        return v
    else:
        parent[v] = find(parent[v])
        return parent[v]

def union(a, b):
    if rank[a] >= rank[b]:
        if rank[a] == rank[b]:
            rank[a] += 1
        parent[b] = a
    else:
        parent[a] = b
    
li = [list(map(int, input().rstrip().split())) for _ in range(n)]
for i in range(n):
    for j in range(i + 1, n):
        if check(li[i], li[j]):
            i = find(i)
            j = find(j)
            if i != j:
                union(i, j)
                
for v in range(n):
    find(v)
                
print(len(set(parent)))
print(Counter(parent).most_common()[0][1])

### 나는 행복합니다~ 14652

In [8]:
n, m, k = map(int, input().split())

x = k // m
y = k % m
print(x, y)

2 2 3
1 1

### 캥거루 세마리 2965

In [12]:
a, b, c = map(int, input().split())
print(max(b - a, c - b) - 1)

3 4 5
0

### 도미노 2921

In [17]:
def get_sum(num):
    return num * (num + 1) // 2

n = int(input())

total = 0
for i in range(1, n + 1):
    total += i * (i + 1)
    total += get_sum(i)
    
print(total)

3
30

### 점수 계산 2506

In [24]:
n = int(input())
li = list(map(int, input().split()))

total = 0
current_get_score = 1
for v in li:
    if v == 1:
        total += current_get_score
        current_get_score += 1
    else:
        current_get_score = 1
        
print(total)

2
1 1
3

### 삼각수의 합 2721

In [29]:
def get_t(num):
    return num * (num + 1) // 2

for _ in range(int(input())):
    n = int(input())
    total = 0
    for i in range(1, n + 1):
        total += i * get_t(i + 1)

    print(total)

4
3
45
4
105
5
210
10
2145

### 학점계산 2754

In [30]:
d = {'A+': 4.3, 'A0': 4.0, 'A-': 3.7, 'B+': 3.3, 'B0': 3.0, 'B-': 2.7,
     'C+': 2.3, 'C0': 2.0, 'C-': 1.7, 'D+': 1.3, 'D0': 1.0, 'D-': 0.7,
     'F': 0.0}

s = input()
print(d[s])

A0
4.0

### 이번학기 평점은 몇점? 2755

In [48]:
d = {'A+': 4.3, 'A0': 4.0, 'A-': 3.7, 'B+': 3.3, 'B0': 3.0, 'B-': 2.7,
     'C+': 2.3, 'C0': 2.0, 'C-': 1.7, 'D+': 1.3, 'D0': 1.0, 'D-': 0.7,
     'F': 0.0}

n = int(input())

total_scores = []
cumul = 0
for _ in range(n):
    _, score, grade = input().split()
    score = int(score)
    total_scores.append(d[grade] * score)
    cumul += score

avg = sum(total_scores) / cumul
s = str(avg)
if len(s) >= 5:
    if int(s[4]) >= 5:
        s = s[:3] + str(int(s[3]) + 1)
    else:
        s = s[:4]
elif len(s) <= 3:
    s += '0' * (4 - len(s))
    
print(s)

3.28

In [50]:
d = {'A+': 4.3, 'A0': 4.0, 'A-': 3.7, 'B+': 3.3, 'B0': 3.0, 'B-': 2.7,
     'C+': 2.3, 'C0': 2.0, 'C-': 1.7, 'D+': 1.3, 'D0': 1.0, 'D-': 0.7,
     'F': 0.0}

n = int(input())

total_scores = []
cumul = 0
for _ in range(n):
    _, score, grade = input().split()
    score = int(score)
    total_scores.append(d[grade] * score)
    cumul += score

avg = sum(total_scores) / cumul
avg += 0.000001
avg = round(avg, 2)
print('%.2f' % avg)

2
aa 3 A+
bb 3 A0
4.15

### 중앙 이동 알고리즘 2903

In [55]:
n = int(input())
current = 2
for _ in range(n):
    current = current * 2 - 1
    
print(current * current)

3
81

### 소음 2935

In [56]:
a = int(input())
o = input()
b = int(input())
print(eval(f'{a}{o}{b}'))

1000
*
100
100000

In [58]:
i=input;print(eval(f'{i()}{i()}{i()}'))

1000
*
100
100000

### 순서쌍의 곱의 합 13900 (다시 풀음)

In [2]:
n = int(input())
li = list(map(int, input().split()))

total = 0
sum_value = sum(li)
for v in li:
    total += v * (sum_value - v)
    
print(total // 2)

4
1 2 3 4
35

### 슬라임 합치기 14241

In [12]:
n = int(input())
li = list(map(int, input().split()))
size = li[0]
score = 0

for value in li[1:]:
    score += size * value
    size += value
    
print(score)

10
3 9 2 8 3 4 2 2 9 11 39 1 3 4 2
4230

### 시험 점수 5596

In [1]:
print(max([sum(list(map(int, input().split()))) for _ in range(2)]))

100 80 70 60
80 70 80 90
320

### 17배 5893

In [2]:
print(bin(int(input(), 2) * 17)[2:])

10110111
110000100111

### Contest Timing 5928

In [6]:
start = 11 + 11 * 60 + 11 * 24 * 60
d, h, m = map(int, input().split())
end = m + h * 60 + d * 24 * 60

if end - start < 0:
    print(-1)
else:
    print(end - start)

12 13 14
1563

In [4]:
14 + 13 * 60 + 12 * 24 * 60

18074

In [ ]:
14 + 13 * 60 + 12 * 24 * 60

In [5]:
end

18074

### 쿠폰 10179

In [9]:
for _ in range(int(input())):
    value = float(input())
    value *= 4/5
    s = '%.2f' % value
    print(f'${s}')

3
100.00
$80.00
59.99
$47.99
20.00
$16.00

### 수도요금 10707

In [11]:
li = [int(input()) for _ in range(5)]
a, b, c, d, p = li

total_price_x = a * p
total_price_y = b

if p - c > 0:
    total_price_y += (p - c) * d
    
print(min(total_price_x, total_price_y))

8
300
100
10
250
1800

### Do Not Touch Anything  13136

In [30]:
r, c, n = map(int, input().split())

def get_value(l):
    temp = 0
    if n >= l:
        temp = 1
    else:
        temp += l // n
        if l % n > 0:
            temp += 1
    return temp
        
print(get_value(r) * get_value(c))

5 5 2
9

### 암호 제작 1837

In [7]:
p, k = map(int, input().split())

if p <= k:
    print('GOOD')
else:
    for i in range(2, k):
        if p % i == 0:
            print('BAD', i)
            break
    else:
        print('GOOD')

9 4
BAD 3

### 문어 숫자 1864

In [13]:
d = {'-': 0, '\\': 1, '(': 2, '@': 3, '?': 4, '>': 5, '&': 6, '%': 7, '/': -1}
while True: 
    s = input()
    if s == '#':
        break
        
    s_len = len(s)

    total = 0
    for i in range(len(s)):
        total += d[s[i]] * 8 ** (len(s) - i - 1)

    print(total)

?
4

### 달팽이2 1952

In [37]:
m, n = map(int, input().split())

dx = [0, 1, 0, -1]
dy = [1, 0, -1, 0]

visited = [[False] * n for _ in range(m)]
visited[0][0] = True
count = 0
d = 0
x, y = 0, 0
while True:
    nx, ny = x + dx[d % 4], y + dy[d % 4]
    if nx < 0 or nx >= m or ny < 0 or ny >= n or visited[nx][ny]:
        d += 1
        count += 1
        nx, ny = x + dx[d % 4], y + dy[d % 4]
        if nx < 0 or nx >= m or ny < 0 or ny >= n or visited[nx][ny]:
            break
    visited[nx][ny] = True
    x, y = nx, ny
    
print(count - 1)

2 2
2

### 오각형, 오각형, 오각형... 1964

In [58]:
n = int(input())

mod = 45678
current = 5
added = 7
plus = 3
for _ in range(n - 1):
    current += added
    current %= mod
    added += plus
    added %= mod
    
print(current)

3
22

### 플러그 2010

In [61]:
import sys
# input = sys.stdin.readline

n = int(input().rstrip())
li = [int(input().rstrip()) for _ in range(n)]
print(sum(li) - (n - 1))

3
2
2
2
4

### 초콜릿 자르기 2163

In [62]:
n, m = map(int, input().split())
print(n * m - 1)

2 2
3

### 시그마 2355

In [74]:
a, b = map(int, input().split())
if a > b:
    a, b = b, a
    
# get_sum
def gs(num):
    return num * (num + 1) // 2
    
result = 0
if a < 0 and b < 0:
    result = -(gs(-a) - gs(-b)) + b
elif a > 0 and b > 0:
    result = gs(b) - gs(a) + a
elif a == 0:
    result = gs(b)
elif b == 0:
    result = -gs(-a)
else:
    result = -gs(-a) + gs(b)
    
print(result)

-1 1
0

### 지능형 기차 2455

In [75]:
current = 0
max_result = 0
for _ in range(4):
    out_count, in_count = map(int, input().split())
    current -= out_count
    current += in_count
    max_result = max(max_result, current)
print(max_result)

0 32
3 13
28 25
39 0
42

### 지능형 기차 2 2460

In [ ]:
current = 0
max_result = 0
for _ in range(10):
    out_count, in_count = map(int, input().split())
    current -= out_count
    current += in_count
    max_result = max(max_result, current)
print(max_result)

### 주사위 게임 2476

In [77]:
n = int(input())
max_get = 0
for _ in range(n):
    get = 0
    li = list(map(int, input().split()))
    li.sort()
    
    if li[0] == li[2]:
        get = 10000 + li[0] * 1000
    elif li[0] == li[1] or li[1] == li[2]:
        get = 1000 + li[1] * 100
    else:
        get = li[2] * 100
    max_get = max(max_get, get)
    
print(max_get)

3
3 3 6
2 2 2
6 2 5
12000

### 약수 구하기 2501

In [80]:
n, k = list(map(int, input().split()))

current = 1
result = 0
for mod in range(1, n + 1):
    if n % mod == 0:
        if k == current:
            result = mod
            break
        current += 1
        
print(result)

6 3
3

### 세탁소 사장 동혁 2720

In [ ]:
25 10 5 1

In [83]:
for _ in range(int(input())):
    n = int(input())

    q = n // 25
    n %= 25

    d = n // 10
    n %= 10

    ni = n // 5
    n %= 5

    print(q, d, ni, n)

194
7 1 1 4

### 삼각 김밥 2783

In [85]:
min_ratio = float('inf')

x, y = map(int, input().split())
min_ratio = min(min_ratio, x / y)
for _ in range(int(input())):
    x, y = map(int, input().split())
    min_ratio = min(min_ratio, x / y)
    
print(min_ratio * 1000)

30.0

### 이게 분수? 2863

In [89]:
li = [list(map(int, input().split())) for _ in range(2)]

def rotate(li):
    new_li = [[0, 0], [0, 0]]
    for i in range(2):
        for j in range(2):
            new_li[i][j] = li[1 - j][i]
    return new_li

def get_value(li):
    return li[0][0] / li[1][0] + li[0][1] / li[1][1]

max_value = get_value(li)
max_value_rotated = 0
rotated = 0
for _ in range(3):
    li = rotate(li)
    rotated += 1
    value = get_value(li)
    if value > max_value:
        max_value = value
        max_value_rotated = rotated
        
print(max_value_rotated)

1 2
3 4
2

### 나는 요리사다 2953

In [ ]:
max_score = -1
max_score_person_num = -1

for i in range(1, 6):
    score = sum(map(int, input().split()))
    if score > max_score:
        max_score = score
        max_score_person_num = i
        
print(max_score_person_num, max_score)

### 거북이 2959

In [91]:
li = list(map(int, input().split()))
li.sort()
print(li[0] * li[2])

1 2 3 4
3

### 세 수 2985

In [92]:
a, b, c = map(int, input().split())

if a + b == c:
    print(f'{a}+{b}={c}')
elif a - b == c:
    print(f'{a}-{b}={c}')
elif a * b == c:
    print(f'{a}*{b}={c}') 
elif a / b == c:
    print(f'{a}/{b}={c}') 
elif a == b + c:
    print(f'{a}={b}+{c}')
elif a == b - c:
    print(f'{a}={b}-{c}')
elif a == b * c:
    print(f'{a}={b}*{c}')
elif a == b / c:
    print(f'{a}={b}/{c}')

5 3 8
5+3=8

### 사나운 개 2991

In [2]:
from itertools import cycle

a, b, c, d = map(int, input().split())
li = list(map(int, input().split()))

for value in li:
    dog1 = cycle([1] * a + [0] * b)
    dog2 = cycle([1] * c + [0] * d)

    current = 0
    while True:
        current += 1
        d1 = next(dog1)
        d2 = next(dog2)
        if value == current:
            print(d1 + d2)
            break

2 2 3 3
1 3 4
2
1
0

### 네 번째 수 2997

In [5]:
li = list(map(int, input().split()))
li.sort()
a = li[1] - li[0]
b = li[2] - li[1]

result = 0
if a == b:
    result = li[2] + a
elif a < b:
    result = li[1] + a
elif a > b:
    result = li[0] + b
    
print(result)

1 3 4
2

### 경고 3029

In [13]:
s = input()
li = list(map(int, s.split(':')))
sh, sm, ss = li

s = input()
li = list(map(int, s.split(':')))
eh, em, es = li

total_s = sh * 3600 + sm * 60 + ss
total_e = eh * 3600 + em * 60 + es

if total_s >= total_e:
    total_e += 24 * 3600
    
waiting_time = total_e - total_s

h = waiting_time // 3600
waiting_time %= 3600

m = waiting_time // 60
s = waiting_time % 60

h, m, s = str(h), str(m), str(s)

def left_pad(value):
    if len(value) == 1:
        return '0' + value
    else:
        return value
    
print(f'{left_pad(h)}:{left_pad(m)}:{left_pad(s)}')

10:00:00
10:00:01
00:00:01

### 앵그리 창영 3034

In [14]:
n, w, h = map(int, input().split())

c = w ** 2 + h ** 2
for _ in range(n):
    if int(input()) ** 2 <= c:
        print('DA')
    else:
        print('NE')

5 3 4
3
DA
4
DA
5
DA
6
NE
7
NE

### 택시 기하학 3053

3.141592653589793

In [10]:
import math

r = int(input())
new_r = (r ** 2 * 2) ** (1/2)

def get_area(r):
    return r ** 2 * math.pi

print(get_area(r))
print(r * r * 2)

1
3.141592653589793
2

### 짝수를 찾아라 3058

In [11]:
t = int(input())
for _ in range(t):
    li = list(map(int, input().split()))
    li.sort()
    
    evens = []
    for value in li:
        if value % 2 == 0:
            evens.append(value)
            
    print(sum(evens), evens[0])

2
1 2 3 4 5 6 7
12 2
13 78 39 42 54 93 86
260 42

### 이진수 3460

In [13]:
t = int(input())
for _ in range(t):
    n = int(input())
    b = bin(n)[2:][::-1]
    
    result = []
    for i in range(len(b)):
        if b[i] == '1':
            result.append(i)
            
    print(*result)

1
13
0 2 3

### Adding Reversed Numbers 3486

In [14]:
for _ in range(int(input())):
    a, b = input().split()
    
    a = a[::-1]
    b = b[::-1]
    
    total = int(a) + int(b)
    print(int(str(total)[::-1]))

3
24 1
34
4358 754
1998
305 794
1

### 받아올림 4388

In [30]:
def left_pad(a, b):
    if len(a) > len(b):
        b = '0' * (len(a) - len(b)) + b
    elif len(a) < len(b):
        a = '0' * (len(b) - len(a)) + a
        
    return a, b

while True:
    a, b = input().split()
    if a == b == '0':
        break
    
    a, b = left_pad(a, b)

    a = a[::-1]
    b = b[::-1]

    count = 0
    carry = 0
    for i in range(len(a)):
        if int(a[i]) + int(b[i]) + carry >= 10:
            count += 1
            carry = 1
        else:
            carry = 0

    print(count)

999 1
3
0 0

### 배수 찾기 4504

In [32]:
n = int(input())
while True:
    value = int(input())
    if value == 0:
        break
        
    if n == 0:
        print(f'{value} is NOT a multiple of {n}.')
        continue
        
    if value % n == 0:
        print(f'{value} is a multiple of {n}.')
    else:
        print(f'{value} is NOT a multiple of {n}.')

0
3
3 is NOT a multiple of 0.
4
4 is NOT a multiple of 0.
0

### 일반 화학 실험 4766

In [35]:
li = []
while True:
    value = float(input())
    if value == 999:
        break
    li.append(value)
    
for i in range(1, len(li)):
    diff = li[i] - li[i - 1]
    print('%.2f' % diff)

10.0
12.05
30.25
20
999
2.05
18.20
-10.25

### 다음수 4880

In [36]:
while True:
    a, b, c = map(int, input().split())
    if a == b == c:
        break
    
    if b - a == c - b:
        print('AP', c + c - b)
    else:
        print('GP', c * c // b)

4 7 10
AP 13
2 6 18
GP 54
0 0 0

### 숫자 맞추기 게임 4892

In [41]:
i = 1
while True:
    result = []
    result.append(i)

    n0 = int(input())
    if n0 == 0:
        break

    n1 = 3 * n0
    if n1 % 2 == 0:
        n2 = n1 / 2
        result.append('even')
    else:
        n2 = (n1 + 1) / 2
        result.append('odd')

    n3 = 3 * n2
    n4 = int(n3 // 9)
    result.append(n4)

    print(f'{result[0]}. {result[1]} {result[2]}')
    i += 1

37
1. odd 18
38
2. even 19
0

### TGN 5063

In [42]:
n = int(input())
for _ in range(n):
    a, b, c = map(int, input().split())
    
    if a > b - c:
        print('do not advertise')
    elif a < b - c:
        print('advertise')
    else:
        print('does not matter')

3
0 100 70
advertise
100 130 30
does not matter
-100 -70 40
do not advertise

### 삼각형과 세 변  5073

In [44]:
while True:
    li = list(map(int, input().split()))
    li.sort()
    
    if li[0] == li[2] == 0:
        break
        
    if li[0] == li[2]:
        print('Equilateral')
    elif li[0] + li[1] <= li[2]:
        print('Invalid')
    elif li[0] == li[1] or li[1] == li[2]:
        print('Isosceles')
    else:
        print('Scalene')

7 7 7
Equilateral
6 5 4
Scalene
3 2 5
Invalid
6 2 6
Isosceles
0 0 0

### 전투 드로이드 가격 5361

In [46]:
for _ in range(int(input())):
    a, b, c, d, e = map(int, input().split())

    result = a * 350.34 + b * 230.90 + c * 190.55 + d * 125.30 + e * 180.90
    print(f"${'%.2f' % result}")

1
11 9 8 22 33
$16182.54

### 계산기 프로그램 5613

In [49]:
from collections import deque

li = []
while True:
    value = input()
    if value == '=':
        break
    li.append(value)

init = li[0]
queue = deque(li[1:])

gross = init
while queue:
    op = queue.popleft()
    value = queue.popleft()
    
    gross = int(eval(f'{gross}{op}{value}'))
    
print(gross)

1
+
1
*
2
=
4

### 공약수 5618

In [56]:
import math

n = int(input())

if n == 2:
    a, b = map(int, input().split())
    gcd = math.gcd(a, b)
else:
    a, b, c = map(int, input().split())
    gcd = math.gcd(math.gcd(a, b), math.gcd(b, c))
    
result = []
for mod in range(1, int((gcd + 1) ** 0.5) + 1):
    if gcd % mod == 0:
        result.append(mod)
        
        temp = gcd // mod
        if mod != temp:
            result.append(temp)
        
print('\n'.join(map(str, sorted(result))))

2
75 125
1
5
25

### Hot Dogs 5666

In [ ]:
while True:
    try:
        a, b = map(int, input().split())
        print('%.2f' % (a / b))
    except:
        break

### 팩토리얼 진법 5692

In [65]:
from math import factorial as f
import sys
# input = sys.stdin.readline

while True:
    s = input().rstrip()
    if s == '0':
        break
    
    s = s[::-1]
    
    total = 0
    for i in range(len(s)):
        total += int(s[i]) * f(i + 1)
    print(total)

1
1
0

### 상근이의 친구들 5717

In [66]:
import sys
# input = sys.stdin.readline

while True:
    a, b = map(int, input().rstrip().split())
    if a == b == 0:
        break
    
    print(a + b)b

2 2
4
2 3
5
5 5
10
1 1
2
0 0

### 완전 제곱수 6131

In [70]:
n = int(input())
count = 0

for b in range(1, 501):
    for a in range(b, 501):
        if b ** 2 + n == a ** 2:
            count += 1
            
print(count)

15
2

### 직각 삼각형의 두 변 6322

In [75]:
import sys
# input = sys.stdin.readline

i = 1
while True:
    a, b, c = map(int, input().rstrip().split())
    if a == b == c == 0:
        break
        
    print(f'Triangle #{i}')
        
    result = []
    if a == -1:
        result.append('a')
        left = (c ** 2 - b ** 2) ** 0.5
    elif b == -1:
        result.append('b')
        left = (c ** 2 - a ** 2) ** 0.5
    else:
        result.append('c')
        left = (a ** 2 + b ** 2) ** 0.5
        
    li = [a, b, c, left]
    del li[li.index(-1)]
    
    try:
        li.sort()

        if li[0] + li[1] <= li[2]:
            print('Impossible.')
        else:
            left = '%.3f' % left
            print(f'{result[0]} = {left}')
    except:
        print('Impossible.')
        
    i += 1
    print()

3 4 -1
Triangle #1
c = 5.000

-1 2 7
Triangle #2
a = 6.708

5 -1 3
Triangle #3
Impossible.

0 0 0

### 디지털 루트 6378

In [78]:
while True:
    n = input()
    if n == '0':
        break

    while len(n) > 1:
        new_n = 0
        for value in n:
            new_n += int(value)

        n = str(new_n)
    print(n)

24
6
39
3
0

### 고급 수학 7510

In [81]:
n = int(input())
for i in range(1, n + 1):
    print(f'Scenario #{i}:')
    
    li = list(map(int, input().split()))
    li.sort()
    if li[0] ** 2 + li[1] ** 2 == li[2] ** 2:
        print('yes')
    else:
        print('no')
    print()

1
Scenario #1:
10 12 14
no

### 아즈텍 피라미드 7770

In [114]:
n = int(input())

def get_sum(num):
    return num * (num + 1) // 2

current = 1
criteria = 6
while True:
    if n >= criteria:
        current += 1
        criteria += 4 * get_sum(current) + 1
    else:
        break
        
print(current)

5
1

### 직사각형을 만드는 방법 8320

In [116]:
n = int(input())

count = 0
for i in range(1, n + 1):
    for mod in range(1, int((i + 1) ** 0.5) + 1):
        if i % mod == 0:
            count += 1
            
print(count)

6
8

### 더하기 9085

In [ ]:
for _ in range(int(input())):
    n = int(input())
    li = list(map(int, input().split()))
    print(sum(li))

In [119]:
t = int(input())
for i in range(t):
    a, b = map(int, input().split())
    print(f'Case {i + 1}: {a + b}')

1
1 2
Case 1: 3

### 얼마? 9325

In [ ]:
for _ in range(int(input())):
    total_price = int(input())
    n = int(input())
    for _ in range(n):
        a, b = map(int, input().split())
        total_price b+= a * b
    print(total_price)

### 삼각형 분류 9366

In [120]:
for i in range(int(input())):
    li = list(map(int, input().split()))
    li.sort()
    
    if li[0] == li[2] == 0:
        break
        
    result = ''
    if li[0] == li[2]:
        result = 'equilateral'
    elif li[0] + li[1] <= li[2]:
        result = 'invalid!'
    elif li[0] == li[1] or li[1] == li[2]:
        result = 'isosceles'
    else:
        result = 'scalene'
        
    print(f'Case #{i + 1}: {result}')

2
3 3 4
Case #1: isosceles
6 4 2
Case #2: invalid!

### 폰 노이만 9469

In [125]:
for _ in range(int(input())):
    n, d, a, b, f = map(float, input().split())
    result = (d / (a + b)) * f
    print(int(n), result)

1
1 250 10 15 20
1 200.0

### 꿍의 우주여행 9501

In [126]:
for _ in range(int(input())):
    n, d = map(int, input().split())
    count = 0
    for _ in range(n):
        v, f, c = map(int, input().split())
        if d / v * c <= f:
            count += 1
    print(count)

2
3 100
52 75 10
88 13 44
56 9 5
2
2 920368
950 950 1
943 976 1
1

### 아이들은 사탕을 좋아해 9550

In [128]:
for _ in range(int(input())):
    n, k = map(int, input().split())
    li = list(map(int, input().split()))

    count = 0
    for amount in li:
        count += amount // k
    
    print(count)

2
3 2
4 5 7
7
3 8
4 5 7
0

### Sum of Odd Sequence 9713

In [129]:
for _ in range(int(input())):
    n = int(input())
    
    sum_value = 0
    for i in range(1, n + 1):
        if i % 2 == 1:
            sum_value += i
print(sum_value)

3
1
3
5
9

In [132]:
n = int(input())

a = b = 100
for _ in range(n):
    x, y = map(int, input().split())
    
    if x > y:
        b -= x
    elif y > x:
        a -= y
    
print(a)
print(b)

4
5 6
6 6
4 3
5 2
94
91

### 할로윈의 사탕 10178

In [133]:
for _ in range(int(input())):
    c, v = map(int, input().split())
    print(f'You get {c // v} piece(s) and your dad gets {c % v} piece(s).')

5
22 3
You get 7 piece(s) and your dad gets 1 piece(s).
15 5
You get 3 piece(s) and your dad gets 0 piece(s).
99 8
You get 12 piece(s) and your dad gets 3 piece(s).
7 4
You get 1 piece(s) and your dad gets 3 piece(s).
101 5
You get 20 piece(s) and your dad gets 1 piece(s).

### Baseball 10214

In [ ]:
t = int(input())
for _ in range(t):
    total_y = total_k = 0
    for i in range(9):
        y, k = map(int, input().split())
        if y > k:
            total_y += 1
        elif y < k:
            total_k += 1
    if total_y > total_k:
        print('Yonsei')
    elif total_y < total_k:
        print('Korea')
    else:
        print('Draw')

### 서버 10409

In [151]:
n, t = map(int, input().split())
li = list(map(int, input().split()))

current = 0
count = 0
for value in li:
    current += value
    if current <= t:
        count += 1
    else:
        break
        
print(count)

1 1
1
0

### 지각 10419

In [143]:
for _ in range(int(input())):
    d = int(input())
    for t in range(d):
        if t ** 2 + t > d:
            t -= 1
            break
    print(t)

5
1
0
2
1
5
1
6
2
7
2

### 분수좋아해? 10474

In [144]:
while True:
    a, b = map(int, input().split())
    if a == b == 0:
        break
    
    left = a // b
    mid = a - left * b
    print(f'{left} {mid} / {b}')

27 12
2 3 / 12
2460000 98400
25 0 / 98400
3 4000
0 3 / 4000
0 0

### 다면체 10569

In [145]:
for _ in range(int(input())):
    v, e = map(int, input().split())
    print(2 - v + e)

2
8 12
6
4 6
4

### 페르시아의 왕들 10599

In [148]:
while True:
    a, b, c, d = map(int, input().split())
    if a == b == c == d == 0:
        break
        
    print(c - b, d - a)

100 110 180 185
70 85
-600 -575 -530 -530
45 70
-25 10 72 86
62 111
0 0 0 0

### 사과 10833

In [149]:
n = int(input())
total = 0
for _ in range(n):
    a, b = map(int, input().split())
    total += b % a
    
print(total)

3
10 20
5 5
1 13
0

### 벨트 10834

In [163]:
n = int(input())

current_dir = 0
total_a = 1
total_b = 1
for _ in range(n):
    a, b, c = map(int, input().split())
    total_a *= a
    total_b *= b
    
    if c == 1:
        current_dir ^= 1

    w = total_b // total_a
    
print(current_dir, w)

4
1 10 1
2 1 1
5 6 0
3 2 0
0 4

### 내 학점을 구해줘 10984

In [165]:
for _ in range(int(input())):
    n = int(input())
    total_c = 0
    temp = 0
    for _ in range(n):
        c, g = map(float, input().split())
        c = int(c)

        total_c += c
        temp += c * g

    print(total_c, temp / total_c)

3
4 0.0
4 0.0
3 0.0
11 0.0

### 남욱이의 닭장 11006

In [168]:
for _ in range(int(input())):
    n, m = map(int, input().split())

    u = m * 2 - n
    t = m - u

    print(u, t)

7 5
3 2

### 더하기 3 11023

In [169]:
print(sum(map(int, input().split())))

1 2 3 4 5
15

### 더하기 4 11024

In [ ]:
for _ in range(int(input())):
    print(sum(map(int, input().split())))

### 괴짜 교수 11109

In [171]:
for _ in range(int(input())):
    d, n, s, p = map(int, input().split())

    pc = d + n * p
    npc = n * s

    if pc < npc:
        print('parallelize')
    elif pc > npc:
        print('do not parallelize')
    else:
        print('does not matter')

3
10 2 3 2
do not parallelize
20 5 8 2
parallelize
0 2 1 1
does not matter

### 쿠키애호가 11134

In [172]:
for _ in range(int(input())):
    n, c = map(int, input().split())
    count = n // c
    if n % c > 0:
        count += 1
    print(count)

2
6 2
3
10 3
4

### 삼각 무늬 - 1 11320

In [173]:
for _ in range(int(input())):
    a, b = map(int, input().split())
    print((a // b) ** 2)

2
2 1
4
3 3
1

### POT 11772

In [174]:
n = int(input())
total = 0
for _ in range(n):
    s = input()
    left = int(s[:-1])
    right = int(s[-1])
    total += left ** right
    
print(total)

2
212
1253
1953566

### 2의 제곱인가? 11966

In [181]:
from math import log2

n = int(input())
if log2(n) == int(log2(n)):
    print(1)
else:
    print(0)

6
0

### 고급 여관 12756

In [183]:
aa, al = map(int, input().split())
ba, bl = map(int, input().split())

while al > 0 and bl > 0:
    al -= ba
    bl -= aa
    
if al <= 0 and bl <= 0:
    print('DRAW')
elif al <= 0:
    print('PLAYER B')
else:
    print('PLAYER A')

4 12
5 5
PLAYER A

### Mini Fantasy War 12790

In [184]:
for _ in range(int(input())):
    h, m, a, d, dh, dm, da, dd = map(int, input().split())
    h += dh
    m += dm
    a += da
    d += dd
    
    h = max(h, 1)
    m = max(m, 1)
    a = max(a, 0)
    
    print(h + 5 * m + 2 * a + 2 * d)

1
100 100 100 100 -200 0 400 400
2501

### XORXORXOR 12833

In [186]:
a, b, c = map(int, input().split())

if c % 2 == 0:
    print(a)
else:
    print(a ^ b)

13 3 1
14

### 행운의 편지 13311

In [69]:
def check(num):
    for mod in range(2, 1001):
        if num % mod != mod - 1:
            return False
    return True

In [56]:
check(current)

True

In [70]:
current = 1
for i in range(2, 1001):
    current *= i

In [72]:
len(str(current))

2568

In [37]:
len(str(current // 1000000 - 1))

2562

In [65]:
current % 349

3

In [71]:
current -= 1
mod = 2
while len(str(current)) >= 433:
    if current % mod == 0:
        current //= mod
    else:
        mod += 1

KeyboardInterrupt:

In [61]:
current

626361400059311759376494521108008072222083438546002382609933207406870686372099083757122298490256714482790589682722591855669967730456254748858392123596898449702053715983785308959537620386377422527811689384167372483890899878564859738253327433085032403734526369346302893139984260529011927231552565324841502237496401832968779096259933739545983317440110255447631967742932256835003421626228005337888260832111398119636492970919122898208700

In [52]:
current % 330

329

In [54]:
current % 1000

999

### 치킨 두 마리 (...) 14489

In [209]:
a, b = map(int, input().split())
p = int(input())

total = a + b
if total < p * 2:
    print(total)
else:
    print(total - p * 2)

15000 6000
5000
16000