In [1]:
0 % 5

0

In [2]:
-1 % 5

4

In [5]:
ord('A') - 65

0

In [6]:
ord('Z') - 65

25

In [ ]:
B -> A

In [9]:
(ord('B') - ord('A')) % 26

1

In [10]:
(ord('A') - ord('B')) % 26

25

In [2]:
from collections import deque

deq = deque([1, 2, 3])
deq2 = deq.copy()
deq2.rotate(3)

In [5]:
from collections import Counter

c = Counter([3, 4, 5, 5])
c.most_common()

[(5, 2), (3, 1), (4, 1)]

In [77]:
def solution1(tickets):
    answer = []
    start = 'ICN'
    tickets.sort(reverse=True)
    answer = dfs(start,tickets,answer,len(tickets))
    return answer

def dfs(start,tickets,answer,tickets_cnt):
    st = []
    answer.append(start)
    if tickets != []:
        for i in range(len(tickets)-1,-1,-1):
            if tickets[i][0] == start:
                st.append(i)
    
    if len(answer) <= tickets_cnt:
        for i in st: 
            dfs(tickets[i][1], [tickets[x] for x in range(0,len(tickets)) if x != i], answer, tickets_cnt)
            return answer

In [78]:
def solution2(tickets):
    from collections import defaultdict, deque
    
    total_count = len(tickets)
    d = defaultdict(list)
    to_s = []
    for index, (_from, _to) in enumerate(tickets):
        d[_from].append((index, _to))
        to_s.append(_to)
    
    queue = deque()
    queue.append(('ICN', [], [False] * total_count)) # 출발지, route, visited
    
    result_route = ''
    while queue:
        value, route, visited = queue.popleft()
        
        if len(route) == total_count:
            candidate = ' '.join(map(lambda x: to_s[x], route))
            if not result_route:
                result_route = candidate
            else:
                if candidate < result_route:
                    result_route = candidate
            continue
        
        for v in d[value]:
            new_visited = visited[:]
            new_route = route[:]
            if not new_visited[v[0]]:
                new_visited[v[0]] = True
                new_route.append(v[0])
                queue.append((v[1], new_route, new_visited))

    return ['ICN'] + result_route.split()

In [79]:
solution1(tickets)

['ICN', 'AAA']

In [80]:
solution2(tickets)

['ICN', 'BBB', 'ICN', 'AAA']

In [68]:
tickets = [["ICN", "AAA"], ["ICN", "BBB"], ["BBB", "ICN"]]

In [61]:
tickets = [["ICN", "AAA"], ['ICN', 'EEE'], ['AAA', 'BBB'], ["EEE", "ZZZ"], ["ZZZ", "ICN"], ['BBB', 'ICN']]

In [63]:
tickets = [["ICN", "AAA"], ['ICN', 'AAA'], ['ICN', 'AAA'], ["AAA", "ICN"]]

In [55]:
tickets.sort(reverse=True)

In [67]:
tickets

[['ICN', 'AAA'], ['ICN', 'BBB'], ['BBB', 'ICN']]

In [8]:
A

1

In [9]:
B

1

In [5]:
bin(A)

'0b10101'

In [6]:
bin(B)

'0b101101'

In [3]:
1e12

1000000000000.0

In [7]:
n = 8000000
n * (n + 1) // 2

32000004000000

In [8]:
n = 1
while True:
    if n * (n + 1) // 2 >= 1e12:
        break
    n += 1
print(n)

1414214

In [11]:
for t in range(int(input())):
    g = int(input())
    
    count = 0
    for day_count in range(0, 1414215):
        start = 1
        end = 1414215 - day_count
        
        while start <= end:
            mid = (start + end) // 2
            temp_result = (mid + day_count) * (mid + day_count + 1) // 2
            to_substract = (mid - 1) * mid // 2
            temp_result -= to_substract
            
            if temp_result == g:
                count += 1
                break
            elif temp_result < g:
                start = mid + 1
            else:
                end = mid - 1
        
    print(f'Case #{t + 1}: {count}')

2
10
Case #1: 2
125
Case #2: 4

In [3]:
from itertools import combinations as comb

li = input().split(',')
k = int(input())
c = comb(li, k)
result = list(c)
result = [''.join(v) for v in result]

print(str(result))
print(len(result))

ㄱ,ㄴ,ㄷ,ㄹ
3
['ㄱㄴㄷ', 'ㄱㄴㄹ', 'ㄱㄷㄹ', 'ㄴㄷㄹ']
4

In [27]:
s = input()
seq = list(s)

cnt = 0
tp = [i for i in range(1, len(seq)) if seq[i] != seq[i - 1]]

odd = len(tp)%2  # odd means seq[0] != seq[-1]
seq0=0
seq1=0

if seq[0] == '0':
    if odd:
        seq0 = len(tp) // 2 + 1
        seq1 = len(tp) // 2 + 1
    else:
        seq0 = len(tp) // 2 + 1
        seq1 = len(tp) // 2
else:
    if odd:
        seq0 = len(tp) // 2 + 1
        seq1 = len(tp) // 2 + 1
    else:
        seq0 = len(tp) // 2
        seq1 = len(tp) // 2 + 1

tp = [i for i in range(1, len(seq)) if seq[i] != seq[i-1]]

print(min(seq0, seq1))

10101010101010
7

In [ ]:
0
1
01
010
0101
01010
10
101
1010
10101

In [1]:
332 * 41

13612

In [2]:
43 * 321

13803

In [3]:
42 * 331

13902

In [ ]:
[]

In [3]:
li = [8, 6, 5, 4, 3, 2, 1]
li = [9, 7, 5, 4, 3, 2, 1]
li = [9, 8, 8, 7, 5, 4, 3, 3, 2]
# li = []

# li = [9, 5, 4, 3, 2, 1]
# li = [9, 8, 7, 6, 5, 3]
    
n = len(li)
s = set(range(n))
r = []
for i in range(n):
    for j in range(i + 1, n):
        for k in range(j + 1, n):
            for l in range(k + 1, n):
                st = {i, j, k, l}
                other_st = set(range(n)) - st

                a = [li[ii] for ii in st]
                b = [li[ii] for ii in other_st]

                a.sort(reverse=True)
                b.sort(reverse=True)

                a = int(''.join(map(str, a)))
                b = int(''.join(map(str, b)))

                r.append([a * b, a, b])
        
r.sort(key=lambda x: -x[0])
for v in r:
    print(*v)

862567276 9743 88532
862567276 9743 88532
862565496 8853 97432
862565496 8853 97432
862488486 9742 88533
862477296 9753 88432
862477296 9753 88432
862476916 8852 97433
862475476 8843 97532
862475476 8843 97532
862398616 9752 88433
862386786 8842 97533
861779286 9733 88542
861777528 8854 97332
861700476 9732 88543
861700476 9732 88543
861590328 9754 88332
861588486 8833 97542
861577476 9843 87532
861577476 9843 87532
861577476 9843 87532
861577476 9843 87532
861575296 8753 98432
861575296 8753 98432
861575296 8753 98432
861575296 8753 98432
861499786 9842 87533
861499786 9842 87533
861499776 8832 97543
861499776 8832 97543
861485616 8752 98433
861485616 8752 98433
861467496 9853 87432
861467496 9853 87432
861467496 9853 87432
861467496 9853 87432
861465276 8743 98532
861465276 8743 98532
861465276 8743 98532
861465276 8743 98532
861389916 9852 87433
861389916 9852 87433
861375486 8742 98533
861375486 8742 98533
860800486 9833 87542
860800486 9833 87542
860798328 8754 98332
860798328 8754 98332
860722776 9832 87543
860722776 9832 87543
860722776 9832 87543
860722776 9832 87543
860569528 9854 87332
860569528 9854 87332
860567286 8733 98542
860567286 8733 98542
860477476 8732 98543
860477476 8732 98543
860477476 8732 98543
860477476 8732 98543
846769476 9543 88732
846769476 9543 88732
846768136 8873 95432
846768136 8873 95432
846690286 9542 88733
846681576 8872 95433
845977486 9533 88742
845976168 8874 95332
845898276 9532 88743
845898276 9532 88743
843470136 9873 85432
843470136 9873 85432
843470136 9873 85432
843470136 9873 85432
843467476 8543 98732
843467476 8543 98732
843467476 8543 98732
843467476 8543 98732
843394576 9872 85433
843394576 9872 85433
843377286 8542 98733
843377286 8542 98733
842568168 9874 85332
842568168 9874 85332
842565486 8533 98742
842565486 8533 98742
842475276 8532 98743
842475276 8532 98743
842475276 8532 98743
842475276 8532 98743
837197616 9433 88752
837196500 8875 94332
837118296 9432 88753
837118296 9432 88753
832778500 9875 84332
832778500 9875 84332
832775616 8433 98752
832775616 8433 98752
832685296 8432 98753
832685296 8432 98753
832685296 8432 98753
832685296 8432 98753
828252328 9332 88754
822818328 8332 98754
822818328 8332 98754
745494456 9883 75432
745494456 9883 75432
745489776 7543 98832
745489776 7543 98832
745428906 9882 75433
745398486 7542 98833
744581488 9884 75332
744576786 7533 98842
744485476 7532 98843
744485476 7532 98843
734771820 9885 74332
734766916 7433 98852
734675496 7432 98853
734675496 7432 98853
724797528 7332 98854
537180484 9887 54332
537171576 5433 98872
537078136 5432 98873
537078136 5432 98873
527196168 5332 98874
428326500 4332 98875

In [46]:
from collections import deque

li = [8, 7, 6, 5, 4, 3, 2, 1]

li.sort(reverse=True)
deq = deque(li)

a = []
b = []
n = len(li)
if n % 2 == 0:
    a.append(deq.popleft())
    cur = 0
else:
    a.append(deq.popleft())  
    cur = 1
    
while len(a) < n // 2:
    if cur == 0:
        a.append(deq.pop())
    else:
        b.append(deq.pop())
    cur ^= 1

while deq:
    b.append(deq.pop())    

a.sort(reverse=True)
b.sort(reverse=True)

([6, 3, 1], [5, 4, 2])

In [14]:
from itertools import combinations as comb

nli = [9, 8, 8, 7, 5, 4, 3, 3, 2]

nn = len(nli)

cases = comb(range(nn), nn // 2)

st = set(range(nn))
max_value = 0
for case in cases:
    a = [nli[i] for i in case]
    b = [nli[i] for i in (st - set(case))]
    
    aa = int(''.join(map(str, a)))
    bb = int(''.join(map(str, b)))
    
    max_value = max(max_value, aa * bb)
    
print(max_value * (10 ** c0))

862567276

In [18]:
from itertools import combinations as comb

for _ in range(int(input())):
    li = list(map(int, input()))
    n = len(li)

    nli = []
    c0 = 0
    for v in li:
        if v == 0:
            c0 += 1
        elif v == 6:
            nli.append(9)
        else:
            nli.append(v)

    nli.sort(reverse=True)
    nn = len(nli)

    if c0 >= n - 1:
        print(0)
    else:
        cases = comb(range(nn), nn // 2)

        st = set(range(nn))
        max_value = 0
        for case in cases:
            a = [nli[i] for i in case]
            b = [nli[i] for i in (st - set(case))]

            aa = int(''.join(map(str, a)))
            bb = int(''.join(map(str, b)))
            max_value = max(max_value, aa * bb)

        print(max_value * (10 ** c0))

1
999999999999999999
999999998000000001

In [8]:
h, w, n, m = map(int, input().split())

cw = 0
for i in range(0, w, m + 1):
    cw += 1

ch = 0
for i in range(0, h, n + 1):
    ch += 1

print(cw * ch)

6

In [32]:
k, n = map(int, input().split())

if n == 1:
    print(-1)
else:
    cri = k * n // (n - 1)

    print(cri)

36 3
54

In [3]:
n, m = map(int, input().split())
sx, sy = map(int, input().split())
ex, ey = map(int, input().split())

if (sx == ex and sy == ey):
    print('YES')
elif n == 1 or m == 1:
    print('NO')
else:
    if (sx + sy) % 2 == (ex + ey) % 2:
        print('YES')
    else:
        print('NO')

4 1
3 3
2 2
NO

In [9]:
from collections import Counter, deque

p = [3, 2, 1, 4, 5]
n = len(p)

li = [(value, count) for value, count in Counter(p).items()]
li.sort(key=lambda x: x[0])

deq = deque(li)
total = 0
while len(deq) >= 2:
    v1, c1 = deq.popleft()
    v2, c2 = deq.popleft()
    
    used = min(c1, c2)
    total += used
    
    c1 -= used
    c2 -= used
    if c1:
        deq.append((v1, c1))
    elif c2:
        deq.append((v1, c2))
        
print(total)

2

In [10]:
1 2 3 4 5 1 2 3 4 5

deque([(5, 1)])

In [21]:
li = [103, 101, 103, 103, 101, 102, 100, 100, 101, 104]
n = len(li)

bigger_count = 0
cont = 0
fv = -1
total = 0

li.sort(reverse=True)

for i in range(n):
    if li[i] != fv:
        total += min(bigger_count, cont)
        
        bigger_count = i
        fv = li[i]
        cont = 1
    else:
        cont += 1
        
total += min(bigger_count, cont)

print(total)

7

In [17]:
li.sort()
li

[100, 100, 101, 101, 101, 102, 103, 103, 103, 104]

In [ ]:
100 101 102 103 104 100 101 103 101 103

100 2 완료
101 3 완료
102 1 완료
103 1

A

In [4]:
skills = [5, 8, 3, 1]
team = [4, 3]
k = 2

skills_len = len(skills)
team_len = len(team)
team_st = set(team)
in_team_c = 0
cur = 0
for i in range(k):
    cur += skills[i]
    if i + 1 in team_st:
        in_team_c += 1
    
max_r = cur * (1 + (in_team_c == team_len))
for i in range(k, skills_len):
    cur -= skills[i - k]
    if i - k + 1 in team_st:
        in_team_c -= 1

    cur += skills[i]
    if i + 1 in team_st:
        in_team_c += 1
        
    max_r = max(max_r, cur * (1 + (in_team_c == team_len)))
    
print(max_r)

13

B

In [7]:
m = 20
load = [16, 15, 9, 17, 1, 3]
load.sort()

if load[-1] > m:
    print(-1)
else:
    total = 0
    while load:
        total += 1
        cur_m = m
        for i in range(len(load) - 1, -1, -1):
            if load[i] <= cur_m:
                cur_m -= load[i]
                del load[i]
                
    print(total)

4

C

In [8]:
def get_sum(num):
    return num * (num - 1) // 2

50 * 50 * get_sum(199)

49252500

In [ ]:
d[(송금 대상 유저, 송금 금액)][송금한 유저] = [시간들]

In [36]:
from datetime import datetime
from collections import defaultdict as dd, deque

def to_total_sec(tm):
    return int(datetime.strptime(tm, '%Y-%m-%d %H:%M:%S').timestamp())

n = 4
m = 6
li = [
    [0, 3, 1000000, '2020-07-28 07:29:59'],
    [1, 3, 1000000, '2020-07-28 07:32:11'],
    [0, 3, 1100000, '2020-08-01 02:04:30'],
    [2, 3, 1100000, '2020-08-01 02:14:05'],
    [3, 2, 1300000, '2021-11-14 22:10:20'],
    [1, 2, 1300000, '2021-11-14 22:13:11']
]

for i in range(m):
    li[i][3] = to_total_sec(li[i][3])
    
c_info = set() # connected info
d = dd(lambda: dd(list))
for from_, to_, amount, tm in li:
    d[(to_, amount)][from_].append(tm)
    
for key in d:
    for nkey in d[key]:
        d[key][nkey].sort()
        
    nkeys = list(d[key].keys())
    nkeys_len = len(nkeys)
    
    for ai in range(nkeys_len):
        for bi in range(ai + 1, nkeys_len):
            a = nkeys[ai]
            b = nkeys[bi]
            
            if a > b:
                a, b = b, a
            if (a, b) in c_info:
                continue
            
            tm1 = d[key][a]
            tm2 = d[key][b]
            
            tm1_len = len(tm1)
            tm2_len = len(tm2)

            tm1i = 0
            tm2i = 0
            is_connected = False
            while True:
                tm1v = tm1[tm1i]
                tm2v = tm2[tm2i]

                if abs(tm1v - tm2v) <= 600:
                    is_connected = True
                    break

                if tm1v < tm2v:
                    tm1i += 1
                    if tm1i >= tm1_len:
                        break
                else:
                    tm2i += 1
                    if tm2i >= tm2_len:
                        break
                        
            if is_connected:
                c_info.add((a, b))
                
graph = [[] for _ in range(n)]
for u, v in c_info:
    graph[u].append(v)
    graph[v].append(u)
    
result = [0] * n
for value in range(n):
    vt = {value}
    queue = deque()
    for v in graph[value]:
        queue.append(v)
        vt.add(v)
    
    for _ in range(len(queue)):
        v = queue.popleft()
        for vv in graph[v]:
            if vv not in vt:
                vt.add(vv)
            
    result[value] = len(vt) - 1
    
print(*result)

3 3 2 2

In [ ]:
0, 1
0, 2
1, 3

In [ ]:
(0, 1) (0, 2) (1, 3)