In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait as Wait
from selenium.webdriver.support import expected_conditions as ec
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time
import re

### Î¨∏Ï†ú Ï†ïÎ≥¥ Ïä§ÌÅ¨ÎûòÌïë

In [2]:
url = 'https://kenkoooo.com/atcoder/#/list/hsh8086?status=All'

In [3]:
driver = webdriver.Chrome("C:/selenium/chromedriver")
driver.implicitly_wait(1)

C:\Users\User\Anaconda3\envs\bot\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [4]:
driver.get(url)

In [ ]:
urls = Wait(driver, 0.5) \
              .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(2) a')))
urls = [v.get_attribute('href') for v in urls]
print(len(urls))

titles = Wait(driver, 0.5) \
              .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(2)')))
titles = [v.text for v in titles]
print(len(titles))

difficulties = Wait(driver, 0.5) \
              .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(8)')))
difficulties = [v.text for v in difficulties]
print(len(difficulties))

# solve_probs = Wait(driver, 0.5) \
#               .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(9)')))
# solve_probs = [v.text for v in solve_probs]
# print(len(solve_probs))

In [16]:
to_deletes = set()
for i in range(len(difficulties)):
    if difficulties[i] == '-':
        to_deletes.add(i)

In [17]:
urls2 = [v for i, v in enumerate(urls) if i not in to_deletes]
titles2 = [v for i, v in enumerate(titles) if i not in to_deletes]
difficulties2 = [v for i, v in enumerate(difficulties) if i not in to_deletes]
# solve_probs2 = [v for i, v in enumerate(solve_probs) if i not in to_deletes]

In [18]:
for i in range(len(titles2)):
    if titles2[i][0] == 'üß™':
        titles2[i] = titles2[i][1:]
        
ids = [v[v.rfind('/') + 1:] for v in urls2]
    
# solve_probs3 = []
# for i in range(len(urls2)):
#     solve_probs3.append(int(re.search("\d+", solve_probs2[i]).group()))
    
difficulties3 = [int(v) for v in difficulties2]

In [19]:
problems_df = pd.DataFrame({
    "id": ids,
    "url": urls2,
    "title": titles2,
#     "solve_prob": solve_probs3,
    "difficulty": difficulties3
})

In [20]:
problems_df.head()

,id,url,title,difficulty
0,abc242_a,https://atcoder.jp/contests/abc242/tasks/abc242_a,A. T-shirt,37
1,abc242_b,https://atcoder.jp/contests/abc242/tasks/abc242_b,B. Minimize Ordering,45
2,abc242_c,https://atcoder.jp/contests/abc242/tasks/abc242_c,C. 1111gal password,512
3,abc242_d,https://atcoder.jp/contests/abc242/tasks/abc242_d,D. ABC Transform,1286
4,abc242_e,https://atcoder.jp/contests/abc242/tasks/abc242_e,E. (‚àÄx‚àÄ),1365

In [21]:
problems_df.to_csv("problems.csv", index=False, encoding="utf-8-sig")

### Ïù¥ÎØ∏ Ìëº Î¨∏Ï†ú Ï†ïÎ≥¥ Ïä§ÌÅ¨ÎûòÌïë

In [ ]:
url = 'https://kenkoooo.com/atcoder/#/list/hsh8086?status=Only+AC'

In [5]:
urls = Wait(driver, 0.5) \
              .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(2) a')))
urls = [v.get_attribute('href') for v in urls]
print(len(urls))

titles = Wait(driver, 0.5) \
              .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(2)')))
titles = [v.text for v in titles]
print(len(titles))

last_ac_dates = Wait(driver, 0.5) \
              .until(ec.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.list-table tr td:nth-child(5)')))
last_ac_dates = [v.text for v in last_ac_dates]
print(len(last_ac_dates))

ids = [v[v.rfind('/') + 1:] for v in urls]

162
162
162

In [6]:
solved_by_me_df = pd.DataFrame({
    "id": ids,
    "date": last_ac_dates
})

In [8]:
solved_by_me_df.to_csv("solved_by_me.csv", index=False, encoding="utf-8-sig")

In [131]:
driver.close()

### Ï†úÍ±∞Ìï† Î¨∏Ï†ú Ï∂îÍ∞Ä

In [37]:
# https://atcoder-tags.herokuapp.com/tags/Data-Structure/Segment-Tree
s = '''1	abc185_f	F. Range Xor Query	1053	4432
2	abc194_e	E. Mex Min	1088	4428
3	abc125_c	C. GCD on Blackboard	1197	8324
4	abl_d	D. Flat Subsequence	1283	2569
5	abc157_e	E. Simple String Queries	1443	3747
6	abc231_f	F. Jealous Two	1580	1666
7	arc033_3	C. „Éá„Éº„ÇøÊßãÈÄ†	1641	1631
8	abc223_f	F. Parenthesis Checking	1641	1562
9	nikkei2019_2_qual_d	D. Shortest Path on a Line	1647	1867
10	code_festival_qualB_d	D. ÁôªÂ±±ÂÆ∂	1651	858
11	donuts_2015_3	C. Ë°åÂàó„ÅÆ„Åß„Åç„Çã„Éâ„Éº„Éä„ÉÑÂ±ã	1661	733
12	abc038_d	D. „Éó„É¨„Çº„É≥„Éà	1804	1958
13	abc165_f	F. LIS on Tree	1843	2393
14	arc026_3	C. ËõçÂÖâÁÅØ	1930	795
15	jsc2021_f	F. Max Matrix	1954	805
16	arc035_d	D. È´òÊ©ã„Åè„Çì„Å®„Éû„É©„ÇΩ„É≥„Ç≥„Éº„Çπ	2173	347
17	arc017_4	D. ARC„Åü„Çì„ÇØ„ÉÉ„Ç≠„Éº	2244	277
18	arc080_c	E. Young Maids	2277	1209
19	abc136_f	F. Enclosed Points	2334	1017
20	mujin_pc_2016_d	D. Êã¨ÂºßÂàó / Parenthesis Sequence	2404	221
21	arc008_4	D. „Çø„Ç≥„É§„Ç≠„Ç™„Ç§„Ç∑„ÇØ„Éä„Éº„É´	2430	807
22	arc027_4	D. „Å¥„Çá„Çì„Å¥„Çá„Çì„Éà„É¨„Éº„Éã„É≥„Ç∞	2474	142
23	arc038_c	C. Ëå∂Á¢ó„Å®Ë±Ü	2531	331
24	arc067_d	F. Yakiniku Restaurants	2729	662
25	arc076_d	F. Exhausted?	2819	650
26	arc025_4	D. „Ç≥„É≥„Çª„É≥„Éà	2863	53
27	arc073_d	F. Many Moves	2867	669
28	arc049_d	D. „Åô„Çè„Å£„Å∑„Åó„Åæ„Éº„Åô	2988	47
29	arc054_d	D. „Éê„Éñ„É´„ÇΩ„Éº„Éà	3095	40'''

In [38]:
li = [v.split('\t') for v in s.split('\n')]
li = [v[1] for v in li]

In [39]:
reasons = ['seg_tree'] * len(li)
to_exclude_df = pd.DataFrame({
    "id": li,
    "reason": reasons
})

In [41]:
problems_df = pd.read_csv("problems.csv")

In [42]:
ids_to_delete = []
for i in range(len(problems_df)):
    title = problems_df.loc[i, 'title']
    
    is_add = False
    for v in title[2:]:
        temp = ord(v)

        if temp == 32:
            continue
        if ord(v) <= 10000:
            is_add = True
            break
            
    if not is_add:
        ids_to_delete.append(problems_df.loc[i, 'id'])
        
reasons = ['no_english'] * len(ids_to_delete)

temp_df = pd.DataFrame({
    "id": ids_to_delete,
    "reason": reasons
})

to_exclude_df = to_exclude_df.append(temp_df, ignore_index=True)

In [43]:
to_exclude_df

           id      reason
0    abc185_f    seg_tree
1    abc194_e    seg_tree
2    abc125_c    seg_tree
3       abl_d    seg_tree
4    abc157_e    seg_tree
..        ...         ...
441  arc003_4  no_english
442  arc002_1  no_english
443  arc002_2  no_english
444  arc002_3  no_english
445  arc002_4  no_english

[446 rows x 2 columns]

In [44]:
to_exclude_df.to_csv("to_exclude.csv", index=False, encoding="utf-8-sig")