In [4]:
l, p = map(int, input().split())
li = list(map(int, input().split()))
real = l * p
li = list(map(lambda x: x - real, li))
print(" ".join(map(str, li)))

5 20
99 101 1000 0 97
-1 1 900 -100 -3

In [3]:
print(" ".join(map(str, li)))

-1 1 900 -100 -3

In [ ]:
math.ceil(x / 38) = 24

In [9]:
894 / 38 == 23

False

In [11]:
894 / 38

23.526315789473685

In [15]:
a, b = map(int, input().split())
print(a * (b - 1) + 1)

38 24

875

In [19]:
current = list(map(int, input().split()))
correct = [1, 1, 2, 2, 2, 8]

result = []
for i in range(len(current)):
    result.append(correct[i] - current[i])
    
print(" ".join(map(str, result)))

0 1 2 2 2 7
1 0 0 0 0 1

In [20]:
total = 0

for _ in range(5):
    total += int(input())

print(total)

0
100
0
10
100
210

In [21]:
total = 0

for _ in range(4):
    total += int(input())

print(total // 60)
print(total % 60)

31
34
7
151
3
43

In [22]:
y = int(input())
m = int(input())
print(m + (m - y))

12
15
18

In [23]:
a, b, c, d = map(int, input().split())
print(a * b + c * d)

2 5 3 20
70

In [31]:
t = int(input())
diff = int(input())

print(t - (t - diff) // 2)
print((t - diff) // 2)

10
4
7
3

In [34]:
"가".encode()

b'\xea\xb0\x80'

In [37]:
ord("가") - 44031

1

In [38]:
ord("힣") - 44031

11172

In [39]:
ord("백") - 44031

4146

In [40]:
print(ord(input()) - 44031)

힣
11172

In [41]:
print(sum(map(int, input().split())))

77 77 7777
7931

In [50]:
from datetime import datetime

now = datetime.now()
print(datetime.strftime(now, "%Y"))
print(datetime.strftime(now, "%m"))
print(datetime.strftime(now, "%d"))

2021
02
26

In [48]:
datetime.strftime(now, "%m")

'02'

In [49]:
datetime.strftime(now, "%d")

'26'

In [ ]:
print('Avengers: Endgame')

In [51]:
2541 - 1998

543

In [53]:
print(int(input()) - 543)

1000
457

In [54]:
n = 10000000

In [58]:
int(n * (0.78))

7800000

In [59]:
int(n - n * 0.2 * 0.22)

9560000

In [61]:
n = int(input())
print(int(n * (0.78)), int(n - n * 0.2 * 0.22))

1000
780 956

In [62]:
(52 / 25) * 9

18.72

In [65]:
16 ** 2 + 9 ** 2

337

In [72]:
d, h, w = map(int, input().split())
x = (d ** 2 / (h ** 2 + w ** 2)) ** 0.5
print(int(x * h), int(x * w))

52 9 16

In [76]:
d,h,w=map(int,input().split());x=(d**2/(h**2+w**2))**0.5;print(int(x*h),int(x*w))

52 9 16
25 45

In [75]:
print(int(x * h), int(x * w))

25 45

In [81]:
print(' '.join(map(str, sorted(map(int, input().split())))))

3 1 2
1 2 3

In [84]:
b_li = []
for _ in range(3):
    b_li.append(int(input()))

d_li = []
for _ in range(2):
    d_li.append(int(input()))

print(min(b_li) + min(d_li) - 50)

800
700
900
198
330
848

In [87]:
n = int(input())
li = list(map(int, input().split()))
li = [v for v in li if v == n]
print(len(li))

5
1 3 0 7 4
0

In [93]:
h, m = map(int, input().split())
d = int(input())

total_m = h * 60 + m + d
total_m %= 24 * 60
print(total_m // 60, total_m % 60)

23 50
20
0 10

In [90]:
total_m = h * 60 + m + d

In [91]:
total_m = h * 60 + m + d
total_m %= 24 * 60
print(total_m // 60, total_m % 60)

In [92]:
print(total_m // 60, total_m % 60)

14 50

In [98]:
print(bin(int(input(), 8))[2:])

314
11001100

In [99]:
a, b, c = map(int, input().split())

3 3 6

In [104]:
a, b, c = map(int, input().split())

if a == b == c:
    print(10000 + a * 1000)
elif a == b:
    print(1000 + a * 100)
elif a == c:
    print(1000 + a * 100)
elif b == c:
    print(1000 + b * 100)
else:
    print(max(a, b, c) * 100)

2 2 2
12000

In [105]:
k, n, m = map(int, input().split())

300 4 1000

In [107]:
print(max(k * n - m, 0))

200

In [ ]:
k, n, m = map(int, input().split())
print(max(k * n - m, 0))

In [110]:
a, b = map(int, input().split())
print(abs(a - b))

-2 5
7

In [113]:
h, m, s = map(int, input().split())
d = int(input())

total_s = h * 3600 + m * 60 + s + d
total_s %= 24 * 60 * 60
new_h = total_s // 3600
total_s -= new_h * 3600
new_m = total_s // 60
new_s = total_s % 60
print(new_h , new_m, new_s)

23 59 50
100
0 1 30

In [ ]:
n = int(input())

if n == 0:
    print('YONSEI')
else:
    print('Leading the Way to the Future')

In [114]:
a, b = map(int, input().split())
c, d = map(int, input().split())

print(min(a + d, b + c))

1 2
3 4
5

In [115]:
t = int(input())

100

In [116]:
li = [300, 60, 10]

In [121]:
t = int(input())
li = [300, 60, 10]

counts = []
for v in li:
    counts.append(t // v)
    t %= v
    
if t != 0:
    print(-1)
else:
    print(" ".join(map(str, counts)))

100
0 1 4

In [124]:
l, a, b, c, d = int(input()), int(input()), int(input()), int(input()), int(input())

20
25
30
6
8

In [126]:
import math
math.ceil(b / d)

4

In [127]:
math.ceil(a / c)

5

In [129]:
import math
l, a, b, c, d = int(input()), int(input()), int(input()), int(input()), int(input())
print(l -  max(math.ceil(b / d), math.ceil(a / c)))

20
25
30
6
8
15

In [1]:
t = int(input())
for _ in range(t):
    li = list(map(int, input().split()))
    li.sort()
    print(li[-3])

4
1 2 3 4 5 6 7 8 9 1000
8
338 304 619 95 343 496 489 116 98 127
489
931 240 986 894 826 640 965 833 136 138
931
940 955 364 188 133 254 501 122 768 408
768

In [28]:
m, n, k = map(int, input().split())

1 6 1

In [30]:
m, n, k = map(int, input().split())

while k > 0:
    if 2 * n > m:
        n -= 1
    else:
        m -= 1
    k -= 1

count = 0
while m > 0 and n > 0:
    m -= 2
    n -= 1
    if m >= 0 and n >= 0:
        count += 1
    
print(count)

6 3 2
2

In [47]:
print(oct(int(input(), 2))[2:])

11001100
314

In [59]:
from itertools import combinations

li = []
for _ in range(9):
    li.append(int(input()))

for comb in combinations(li, 7):
    if sum(comb) == 100:
        print("\n".join(map(str, sorted(comb))))
        break

10
10
10
20
30
40
50
10
10
10
10
10
10
10
20
30

In [60]:
print(len(input()))

pulljima
8

In [64]:
n, b = input().split()
print(int(n, int(b)))

ZZZZZ 36
60466175

In [70]:
import math

n = int(input())
li = list(map(int, input().split()))
b, c = map(int, input().split())

total = n
li = [v - b for v in li if v - b >= 1]
li = [math.ceil(v / c) for v in li]
total += sum(li)

print(total)

5
10 9 10 9 10
7 2
13

In [71]:
s = input()

Konkuk

In [79]:
import re
common = len(re.findall("[A-Z ]", s))
s = s.lower().replace(" ", "")

In [80]:
left = "qwertyasdfgzxcvb"
right = "uiophjklnm"

lc = rc = 0
for v in s:
    if v in left:
        lc += 1
    else:
        rc += 1

In [81]:
lc, rc

(0, 6)

In [82]:
while common:
    if lc > rc:
        rc += 1
    else:
        lc += 1
    common -= 1

In [83]:
print(lc, rc)

1 6

In [84]:
import re

s = input()
common = len(re.findall("[A-Z ]", s))
s = s.lower().replace(" ", "")

left = "qwertyasdfgzxcvb"
right = "uiophjklnm"

lc = rc = 0
for v in s:
    if v in left:
        lc += 1
    else:
        rc += 1
        
while common:
    if lc > rc:
        rc += 1
    else:
        lc += 1
    common -= 1
    
print(lc, rc)

Hello World
7 6

In [87]:
A_n, A_m = map(int, input().split())
A = []
for _ in range(A_n):
    A.append(list(map(int, input().split())))
             
B_n, B_m = map(int, input().split())
B = []
for _ in range(B_n):
    B.append(list(map(int, input().split())))
             

for i in range(A_n):
    temp_li = []
    for j in range(B_m):
        total = 0
        for k in range(A_m):
             total += A[i][k] * B[k][j]
        temp_li.append(total)
    print(" ".join(map(str, temp_li)))

3 2
1 2
3 4
5 6
2 3
-1 -2 0
0 0 3
-1 -2 6
-3 -6 12
-5 -10 18

In [88]:
from collections import Counter

l = int(input())
n = int(input())
li = [-1] * l

max_wanted_count = 0
max_wanted_person_num = 0
for i in range(1, n + 1):
    p, k = map(int, input().split())
    if max_wanted_count < k - p + 1:
        max_wanted_count = k - p + 1
        max_wanted_person_num = i
    elif max_wanted_count == k - p + 1:
        if i < max_wanted_person_num:
            max_wanted_person_num = i
        
    for j in range(p, k + 1):
        if li[j] == -1:
            li[j] = i
    
c = Counter(li)

10
3
2 4
7 8
6 9

In [96]:
c_li = [(key, value) for key, value in c.items() if key != -1]

In [99]:
max_value = max([v[1] for v in c_li])
c_li = [(v, w) for v, w in c_li if w == max_value]

In [101]:
c_li.sort()

In [103]:
print(max_wanted_person_num)

3

In [102]:
print(c_li[0][0])

1

In [104]:
from collections import Counter

l = int(input())
n = int(input())
li = [-1] * l

max_wanted_count = 0
max_wanted_person_num = 0
for i in range(1, n + 1):
    p, k = map(int, input().split())
    if max_wanted_count < k - p + 1:
        max_wanted_count = k - p + 1
        max_wanted_person_num = i
    elif max_wanted_count == k - p + 1:
        if i < max_wanted_person_num:
            max_wanted_person_num = i
        
    for j in range(p, k + 1):
        if li[j - 1] == -1:
            li[j - 1] = i
    
c = Counter(li)
c_li = [(key, value) for key, value in c.items() if key != -1]
max_value = max([v[1] for v in c_li])
c_li = [(v, w) for v, w in c_li if w == max_value]
c_li.sort()

print(max_wanted_person_num)
print(c_li[0][0])

10
3
2 4
7 8
6 9
3
1

In [107]:
T = int(input())

for _ in range(T):
    li = input().split()
    new_li = []
    for v in li:
        new_li.append(v[::-1])
    print(" ".join(new_li))

2
I am happy today
I ma yppah yadot
We want to win the first prize
eW tnaw ot niw eht tsrif ezirp

In [120]:
d = {i: v for i, v in enumerate('ABCDEFGHIJKLMNOPQRSTUVWXYZ', 10)}

In [121]:
d

{10: 'A',
 11: 'B',
 12: 'C',
 13: 'D',
 14: 'E',
 15: 'F',
 16: 'G',
 17: 'H',
 18: 'I',
 19: 'J',
 20: 'K',
 21: 'L',
 22: 'M',
 23: 'N',
 24: 'O',
 25: 'P',
 26: 'Q',
 27: 'R',
 28: 'S',
 29: 'T',
 30: 'U',
 31: 'V',
 32: 'W',
 33: 'X',
 34: 'Y',
 35: 'Z'}

In [136]:
n, b = map(int, input().split())

d = {i: v for i, v in enumerate('ABCDEFGHIJKLMNOPQRSTUVWXYZ', 10)}
li = []
while n > 0:
    remainder = n % b
    
    if remainder >= 10:
        remainder = d[n % b]
    else:
        remainder = str(remainder)
        
    li.append(remainder)
    n //= b
    
li.reverse()
print("".join(li))

60466175 36
ZZZZZ

In [137]:
s = input()
s_length = len(s)
for i in range(s_length):
    print(i)

ab
0
1

In [151]:
e, s, m = map(int, input().split())

for i in range(1, 7981):
    r1 = 0
    if i % 15 == 0:
        r1 = 15
    else:
        r1 = i % 15
        
    r2 = 0
    if i % 28 == 0:
        r2 = 28
    else:
        r2 = i % 28
        
    r3 = 0
    if i % 19 == 0:
        r3 = 19
    else:
        r3 = i % 19
        
    if r1 == e and r2 == s and r3 == m:
        print(i)
        break

15 28 19
7980

In [150]:
7980 % 19

0

In [152]:
t = int(input())
for _ in range(t):
    a, b = map(int, input().split())

    r1 = 1
    r2 = 1
    for i in range(min(a, b), 0, -1):
        if a % i == 0 and b % i == 0:
            r1 *= i
            a //= i
            b //= i

    r2 = r1 * a * b
    print(r2)

3
1 45000
45000
6 10
30
13 17
221

In [1]:
li = []
for _ in range(9):
    li.append(int(input()))

7
8
10
13
15
19
20
23
25

In [2]:
from itertools import combinations

li = []
for _ in range(9):
    li.append(int(input()))

c = combinations(li, 7)
for v in c:
    if sum(v) == 100:
        print('\n'.join(map(str, v)))
        break

7
8
10
13
19
20
23

In [ ]:
for a in range(3, 101):
    cube_a = a ** 3
    for b in range(2, a):
        cube_b = b ** 3
        for c in range(b, a):
            cube_c = c ** 3
            for d in range(c, a):
                cube_d = d ** 3
                if cube_a == cube_b + cube_c + cube_d:
                    print(f'Cube = {a}, Triple = ({b},{c},{d})')
                if cube_b + cube_c + cube_d > cube_a:
                    break
            if cube_b + cube_c > cube_a:
                break
        if cube_b > cube_a:
            break

In [28]:
T = int(input())
for _ in range(T):
    n, m = map(int, input().split())

    count = 0
    for a in range(1, n):
        for b in range(a + 1, n):
            if (a * a + b * b + m) % (a * b) == 0:
                count += 1
    print(count)

3
10 1
2
20 3
4
30 4
5

In [7]:
n = int(input())

total = 2
for i in range(2, n + 1):
    total += i // 2 + 1
    
print(total)

2
4

In [8]:
s = '''1000 1001 1002 1003 1008 1009 1010 1011 1012 1013 1018 1026 1032 1037 1065 1074 1085 1094 1100 1110 1145 1149 1152 1157 1158 1181 1182 1197 1236 1237 1259 1260 1271 1296 1302 1316 1325 1330 1389 1406 1427 1436 1463 1485 1495 1541 1543 1546 1568 1620 1629 1647 1654 1662 1668 1676 1697 1699 1706 1712 1713 1715 1735 1747 1759 1764 1766 1769 1774 1789 1874 1904 1912 1915 1919 1920 1922 1924 1927 1929 1932 1939 1966 1969 1978 1987 1991 1992 2096 2108 2110 2156 2164 2166 2167 2178 2193 2206 2224 2231 2292 2309 2407 2417 2438 2439 2440 2441 2446 2467 2475 2476 2480 2484 2523 2525 2553 2557 2558 2562 2577 2579 2581 2588 2606 2609 2630 2655 2667 2671 2675 2739 2741 2742 2747 2748 2750 2751 2753 2775 2789 2798 2805 2812 2839 2869 2884 2902 2908 2920 2941 2992 3000 3009 3046 3052 3053 3107 4153 4195 4344 4358 4386 4673 4779 4806 4948 4949 5052 5086 5363 5397 5430 5525 5543 5585 5622 6588 6603 6996 7287 7490 7568 8393 8958 9012 9020 9037 9095 9177 9184 9251 9342 9375 9461 9498 9997 10039 10171 10172 10250 10282 10430 10474 10491 10539 10699 10718 10757 10773 10797 10798 10808 10809 10814 10816 10817 10818 10828 10845 10866 10869 10870 10871 10872 10930 10950 10951 10952 10953 10989 10996 10998 11004 11021 11022 11047 11050 11051 11053 11055 11279 11286 11399 11404 11650 11651 11653 11654 11659 11660 11718 11719 11720 11721 11723 11724 11726 11729 11866 12015 12738 12852 12865 12871 13163 13410 13411 13412 13413 13414 13417 13424 13549 14002 14003 14501 14502 14564 14620 14650 14651 14681 14717 14721 14888 14889 15486 15552 15596 15633 15649 15650 15652 15654 15657 15658 15663 15666 15701 15829 15969 16165 16198 16411 16675 16769 16928 16953 16956 17219 17224 17269 17389 17413 17478 17608 17609 17925 18111 18119 18258 18406 18511 18766 18870 18883 19597 19844 20124 20291 20310 20361 20492 20493 20494 20499 20502 20528 20529 20540 20546 20548 20551 20920 20937 20943 20944 20946 20949 20953 21193 21194 21197'''

In [9]:
print(len(s.split(" ")))

354

### 9진수 14491

In [16]:
n = int(input())
s = ""

for i in range(4, 0, -1):
    s += str(n // (9 ** i))
    n %= (9 ** i)
    
s += str(n)
print(s.lstrip('0'))

100
121

### 16진수 1550 (다시 풀음)

In [28]:
s = input()
s = s[::-1]

def get_num(x):
    if ord(x) < 60:
        return ord(x) - 48
    else:
        return ord(x) - 55

total = 0
for i in range(len(s)):
    total += get_num(s[i]) * 16 ** i

print(total)

1A
26

### 단어 공부 1157 (다시 풀음)

In [29]:
s = input()

Mississipi

In [31]:
s = s.upper()

In [39]:
from collections import defaultdict

s = input()
s = s.upper()

d = defaultdict(int)

max_count = 0
max_count_letter = ""
for v in s:
    d[v] += 1
    if d[v] >= max_count:
        max_count_letter = v
        
        if d[v] == max_count:
            max_count_letter = "?"
            
        max_count = d[v]
            
print(max_count_letter)

aabb
?

In [1]:
s, t, d = map(int, input().split())

print(d // (s * 2) * t)

50 75 200
150

### KMP는 왜 KMP일까? 2902

In [3]:
s = input()
li = s.split('-')
li = [v[0] for v in li]
print(''.join(li))

Knuth-Morris-Pratt
KMP

### 기타

In [5]:
a, b = map(int, input().split())
print((a + b) * (a - b))

3 4
-7

In [7]:
a, b = map(int, input().split())
print(b - a, b)

5 8
3 8

In [ ]:
sum_value, diff_value = map(int, input().split())

In [17]:
sum_value, diff_value = map(int, input().split())

a = (sum_value + diff_value) / 2
b = sum_value - a

if a != int(a) or b != int(b) or a < 0 or b < 0:
    print(-1)
elif a > b:
    print(int(a), int(b))
else:
    print(int(b), int(a))

1 5
-1

In [20]:
for _ in range(3):
    sh, sm, ss, eh, em, es = map(int, input().split())
    
    s = sh * 3600 + sm * 60 + ss
    e = eh * 3600 + em * 60 + es
    
    t = e - s
    
    h = t // 3600
    t %= 3600
    
    m = t // 60
    t %= 60
    
    print(h, m, t)

9 0 0 18 0 0
9 0 0
9 0 1 18 0 0
8 59 59
12 14 52 12 15 30
0 0 38

In [30]:
a, b, c, d = list(map(int, input().split()))
print(abs(a + d - b - c))

1 3 2 4
0

In [34]:
a, b = map(int, input().split())
print((a * b) // 2)

3 3
4

In [35]:
a, b, c = map(int, input().split())
print(int(max(a * b / c, a / b * c)))

32 16 8
64

In [36]:
pi = 3.141592
d1 = int(input())
d2 = int(input())
print(2 * d2 * pi + 2 * d1)

13
8
76.265472

In [48]:
cy = [1, 2, 3, 4, 5, 4, 3, 2]
n = int(input()) - 1

print(cy[n % 8])

1000
2

In [ ]:
5
5 7
5 7 10
5 7 10 14

In [ ]:
bn = bn-1 + 1

an = an-1 + bn-1

In [49]:
li = [int(input()) for _ in range(7)]
li = [v for v in li if v % 2 == 1]
if not li:
    print(-1)
else:
    li.sort()
    print(sum(li))
    print(li[0])

12
77
38
41
53
92
85
256
41

In [52]:
li = list(map(int, input().split()))
li.sort()
print(sum(li[1:]))

70 100 70
170

In [53]:
li = list(map(int, input().split()))
print(sum(li) * 5)

0 0 0 23 3 100
630

In [55]:
a, b, c, d = map(int, input().split())
print(56 * a + 24 * b + 14 * c + 6 * d)

1 10 100 1000
7696

In [59]:
n1, n2, n3 = map(int, input().split())
print(int((n1 + 1) * (n2 + 1) / (n3 + 1) - 1))

15 18 11
24

In [62]:
n = int(input())
print(n * (n - 1))

5
20

In [6]:
uppers = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
lowers = uppers.lower()
li = list(input())

for i in range(len(li)):
    if li[i].islower():
        li[i] = lowers[(lowers.index(li[i]) + 13) % 26]
    elif li[i].isupper():
        li[i] = uppers[(uppers.index(li[i]) + 13) % 26]
        
print(''.join(li))

One is 1
Bar vf 1

In [3]:
import sys
input = lambda: sys.stdin.readline().rstrip()

n, q = list(map(int, input().split()))
li = []
for i in range(1, n + 1):
    t = int(input())
    li.extend([i] * t)
    
for _ in range(q):
    qu = int(input())
    
    print(li[qu])

3 5
2
1
3
2
2
3
3
4
3
0
1
1
1

In [8]:
li = ['AAA', 'AGC', 'ACA', 'ATG', 'GAC', 'GGG', 'GCT', 'GTA', 'CAA', 'CGT', 'CCC', 'CTG', 'TAG', 'TGA', 'TCG', 'TTT']
d = dict()
for v in li:
    d[(v[0], v[1])] = v[2]
    
n = int(input())
li = list(input())

while len(li) >= 2:
    a = li.pop()
    b = li.pop()
    
    li.append(d[(b, a)])
    
print(li[0])

6
AAGTCG
A

In [10]:
while True:
    li = list(map(int, input().split()))
    if len(li) == 1:
        break
        
    n = li.pop(0)

    total = 1
    for i in range(0, 2 * n, 2):
        total *= li[i]
        total -= li[i + 1]

    print(total)

4 5 0 5 1 5 2 5 101
489

In [15]:
for _ in range(int(input())):
    n = int(input())
    nn = n ** 2
    
    sn = str(n)
    snn = str(nn)
    if str(nn)[-len(sn):] == sn:
        print('YES')
    else:
        print('NO')

4
1
YES
6
YES
76
YES
89
NO

In [16]:
while True:
    n = int(input())
    if n == 0:
        break

    while True:
        sn = str(n)
        if len(sn) == 1:
            break

        total = 0
        for v in sn:
            total += int(v)

        n = total

    print(n)

673
7

In [18]:
while True:
    s, age, w = input().split()
    age = int(age)
    w = int(w)
    
    if age == 0:
        break

    cl = ''
    if age > 17 or w >= 80:
        cl = 'Senior'
    else:
        cl = 'Junior'

    print(s, cl)

J 16 34
J Junior

In [21]:
n = int(input())
s = ''
for i in range(1, n + 1):
    s += str(i)
    
print(s.index(str(n)) + 1)

34

3

In [23]:
n = int(input())
s = ''
for _ in range(2 * n - 1):
    s += input()
    
s = s.replace('/', '//')

print(eval(s))

4
2
*
3
+
1
*
4
10

In [29]:
import sys
input = lambda: sys.stdin.readline().rstrip()

for _ in range(int(input())):
    v, degree = input().split()
    v = float(v)
    
    nv = 0
    ng = ''
    if degree == 'kg':
        if v > 0:
            nv = v * 2.2046
        ng = 'lb'
    elif degree == 'lb':
        if v > 0:
            nv = v * 0.4536
        ng = 'kg'
    elif degree == 'l':
        if v > 0:
            nv = v * 0.2642
        ng = 'g'
    else:
        if v > 0:
            nv = v * 3.7854
        ng = 'l'

    print('{:.4f}'.format(nv), ng)

1
3.5 g
13.2489 l

In [31]:
alphas = 'ABCDEFGH'
nums = ['000000', '001111', '010011', '011100', '100110', '101001', '110101', '111010']

def get_dist(a, b):
    dist = 0
    for i in range(6):
        if a[i] != b[i]:
            dist += 1
    return dist

n = int(input())
s = input()
result = ''
for i in range(0, n * 6, 6):
    value = s[i:i + 6]

    md = float('inf') # min dist   
    mdi = 0 # min dist index
    for j in range(8):
        d = get_dist(value, nums[j])
        if d < md:
            md = d
            mdi = j
            
    if md <= 1:
        result += alphas[mdi]
    else:
        print(i // 6 + 1)
        break
else:
    print(result)

5
011111000000111111000000111111
3

In [32]:
import sys
input = lambda: sys.stdin.readline().rstrip()

vowels = {'a', 'e', 'i', 'o', 'u'}
for t in range(int(input())):
    s = input()
    
    status = ''
    if s[-1] == 'y':
        status = 'nobody'
    elif s[-1] in vowels:
        status = 'a queen'
    else:
        status = 'a king'
        
    print(f'Case #{t + 1}: {s} is ruled by {status}.')

3
Mollaristan
Case #1: Mollaristan is ruled by a king
Auritania
Case #2: Auritania is ruled by a queen
Zizily
Case #3: Zizily	 is ruled by a king

In [ ]:
import sys
input = lambda: sys.stdin.readline().rstrip()

vowels = {'a', 'e', 'i', 'o', 'u'}
for t in range(int(input())):
    s = input()
    
    status = ''
    to_check = s[-1].lower()
    if to_check == 'y':
        status = 'nobody'
    elif to_check in vowels:
        status = 'a queen'
    else:
        status = 'a king'
        
    print(f'Case #{t + 1}: {s} is ruled by {status}.')