https://www.acmicpc.net/problemset?sort=ac_desc&solvedac_option=xz%2Cxn&submit=pac%2Cfa%2Cus&tier=5

### 첼시를 도와줘! 11098

In [1]:
import sys
input = lambda: sys.stdin.readline().rstrip()

for _ in range(int(input())):
    n = int(input())

    max_price = -1
    max_price_name = ''
    for _ in range(n):
        p, name = input().split()
        p = int(p)

        if p > max_price:
            max_price = p
            max_price_name = name

    print(max_price_name)

1
2
10 i
4 j
i

### 가장 큰 금민수 1526

In [5]:
n = int(input())

for i in range(n, -1, -1):
    if sorted(set(str(i))) in [['4'], ['7'], ['4', '7']]:
        print(i)
        break

100
77

### 나는 학급회장이다 2456

In [9]:
cs = [[0, 0, 0] for _ in range(3)]

n = int(input())
for _ in range(n):
    a, b, c = map(int, input().split())
    
    cs[0][a - 1] += 1
    cs[1][b - 1] += 1
    cs[2][c - 1] += 1
    
for num in range(3):
    v = cs[num]
    ts = 0
    for i in range(3):
        ts += v[i] * (i + 1)
    v.append(ts)
    v.append(num + 1)
    
cs.sort(key=lambda x: (-x[3], -x[2], -x[1]))

if cs[0][3] == cs[1][3] and cs[0][2] == cs[1][2] and cs[0][1] == cs[1][1]:
    print(0, cs[0][3])
else:
    print(cs[0][4], cs[0][3])

6
1 2 3
3 1 2
2 3 1
1 2 3
3 1 2
2 3 1
0 12

### 행복한지 슬픈지 10769

In [12]:
s = input()

c_happy = s.count(":-)")
c_sad = s.count(":-(")

if c_happy == 0 and c_sad == 0:
    print('none')
elif c_happy == c_sad:
    print('unsure')
elif c_happy > c_sad:
    print('happy')
else:
    print('sad')

This:-(is str:-(:-(ange te:-)xt.
unsure

### Doubles 4641

In [16]:
import sys
input = lambda: sys.stdin.readline().rstrip()

while True:
    li = list(map(int, input().split()))
    if len(li) == 1:
        break

    li.pop()
    st = set(li)

    c = 0
    for v in li:
        if v * 2 in st:
            c += 1
    print(c)

1 4 3 2 9 7 18 22 0
3

### 박스 9455

In [17]:
import sys
input = lambda: sys.stdin.readline().rstrip()

for _ in range(int(input())):
    n, m = map(int, input().split())
    li = [list(map(int, input().split())) for _ in range(n)]

    total = 0
    for j in range(m):
        cumul = 0
        w = 0
        for i in range(n - 1, -1, -1):
            if li[i][j] == 0:
                w += 1
            else:
                cumul += w

        total += cumul

    print(total)

5 4
1 0 0 0
0 0 1 0
1 0 0 1
0 1 0 0
1 0 1 0
8

### 유진수 1356

In [18]:
import sys
input = lambda: sys.stdin.readline().rstrip()

ip = lambda: input()
nip = lambda: int(input())
nnip = lambda: map(int, input().split())
lip = lambda: list(map(int, input().split()))
gip = lambda n: [list(map(int, input().split())) for _ in range(n)]



n = nip()
s = str(n)
s_len = len(s)

if n < 10:
    print('NO')
else:
    is_yes = False
    for i in range(s_len - 1):
        a = s[:i + 1]
        b = s[i + 1:]
        
        ca = 1
        for v in a:
            ca *= int(v)
        
        cb = 1
        for v in b:
            cb *= int(v)
            
        if ca == cb:
            is_yes = True
            break
            
    if is_yes:
        print('YES')
    else:
        print('NO')

1236
YES

### 비밀 이메일 2999

In [20]:
from collections import deque

ip = lambda: input()
nip = lambda: int(input())
nnip = lambda: map(int, input().split())
lip = lambda: list(map(int, input().split()))
gip = lambda n: [list(map(int, input().split())) for _ in range(n)]

s = ip()
n = len(s)

r = 1
for cr in range(1, n + 1):
    if n % cr == 0 and cr <= n // cr:
        r = cr
        
c = n // r

deq = deque(s)
li = [[''] * c for _ in range(r)] 
for j in range(c):
    for i in range(r):
        li[i][j] = deq.popleft()
        
result = ''
for i in range(r):
    for j in range(c):
        result += li[i][j]
        
print(result)

boudonuimilcbsai
bombonisuuladici

### 창영이의 일기장 2954

In [21]:
s = list(input())

vs = {'a', 'e', 'i', 'o', 'u'}
to_deletes = set()
for i in range(len(s) - 1, -1, -1):
    if s[i] in vs:
        if i + 1 in to_deletes:
            continue
        else:
            to_deletes.add(i - 1)
            to_deletes.add(i)
            
r = ''
for i in range(len(s)):
    if i not in to_deletes:
        r += s[i]
        
print(r)

zepelepenapa papapripikapa
zelena paprika

### 스캐너 3035

In [39]:
nnip = lambda: map(int, input().split())

r, c, zr, zc = nnip()
li = [list(input()) for _ in range(r)]

nli = []
for v in li:
    for _ in range(zr):
        nli.append(v)
        
tli = list(zip(*nli))
ntli = []
for v in tli:
    for _ in range(zc):
        ntli.append(v)
        
result = list(zip(*ntli))
result = [''.join(v) for v in result]
print('\n'.join(result))

3 3 2 1
.x.
x.x
.x.
.x.
.x.
x.x
x.x
.x.
.x.

### 차량 번호판 1 16968

In [42]:
s = input()

total = 1
for i in range(len(s)):
    if i == 0:
        if s[i] == 'd':
            total *= 10
        else:
            total *= 26
    else:
        if s[i] == 'd':
            if s[i - 1] == 'd':
                total *= 9
            else:
                total *= 10
        else:
            if s[i - 1] == 'c':
                total *= 25
            else:
                total *= 26
                
print(total)

dcdd
23400

### 히든 넘버 8595

In [47]:
n = int(input())
s = input()

total = 0
temp = ''
for v in s:
    if v.isdigit():
        temp += v
    else:
        if 1 <= len(temp) <= 6:
            total += int(temp)
        temp = ''
        
if 1 <= len(temp) <= 6:
    total += int(temp)
    
print(total)

14
ab13c9d07jeden
29

### Starman 12791

In [51]:
s = '''1967 DavidBowie
1969 SpaceOddity
1970 TheManWhoSoldTheWorld
1971 HunkyDory
1972 TheRiseAndFallOfZiggyStardustAndTheSpidersFromMars
1973 AladdinSane
1973 PinUps
1974 DiamondDogs
1975 YoungAmericans
1976 StationToStation
1977 Low
1977 Heroes
1979 Lodger
1980 ScaryMonstersAndSuperCreeps
1983 LetsDance
1984 Tonight
1987 NeverLetMeDown
1993 BlackTieWhiteNoise
1995 1.Outside
1997 Earthling
1999 Hours
2002 Heathen
2003 Reality
2013 TheNextDay
2016 BlackStar'''

li = [v.split() for v in s.split('\n')]
for v in li:
    v[0] = int(v[0])
    
for _ in range(int(input())):
    s, e = map(int, input().split())
    
    result = []
    for v in li:
        if s <= v[0] <= e:
            result.append(v)
            
    print(len(result))
    for v in result:
        print(*v)

3
1973 1973
2
1973 AladdinSane
1973 PinUps
1977 1979
3
1977 Low
1977 Heroes
1979 Lodger
2014 2015
0

### 마술사 이민혁 3023

In [63]:
from copy import deepcopy

r, c = map(int, input().split())
li = [input() for _ in range(r)]
a, b = map(int, input().split())

nli = deepcopy(li)
for i in range(r):
    nli[i] = nli[i] + nli[i][::-1]
    
nli += reversed(nli)

for i in range(len(nli)):
    nli[i] = list(nli[i])

if nli[a - 1][b - 1] == '#':
    nli[a - 1][b - 1] = '.'
else:
    nli[a - 1][b - 1] = '#'
    
print('\n'.join(''.join(v) for v in nli))

3 3
###
###
###
1 4
###.##
######
######
######
######
######

### 단어순서 뒤집기 12605

In [65]:
import sys
input = lambda: sys.stdin.readline().rstrip()

for t in range(int(input())):
    li = input().split()
    li.reverse()
        
    r = ' '.join(li)
    print(f'Case #{t + 1}: {r}')

1
this is a test
Case #1: test a is this

In [67]:
while True:
    n = int(input())
    if n == 0:
        break
    
    sps = []
    for _ in range(n):
        s = input()

        temp = []
        for i in range(len(s)):
            if s[i] == ' ':
                temp.append(i)
        temp.append(len(s))

        sps.append(temp)

    cur = 0
    for v in sps:
        for vv in v:
            if cur <= vv:
                cur = vv
                break

    print(cur + 1)

3
Supercalifragilisticexpialidocious! Can you handle
short
lines?
36

### 희주의 수학시험 8974

In [82]:
li = []
for i in range(1, 46):
    li.extend([i] * i)
    
a, b = map(int, input().split())
a -= 1
b -= 1

print(sum(li[a:b + 1]))

50 50
10

### CTP공국으로 이민 가자 12778

In [87]:
for _ in range(int(input())):
    m, tp = input().split()
    m = int(m)

    li = input().split()

    if tp == 'C':
        for i in range(m):
            li[i] = ord(li[i]) - 64
    else:
        li = list(map(int, li))

        for i in range(m):
            li[i] = chr(li[i] + 64)

    print(*li)

4 N
9 14 8 1
I N H A

### 디지털 티비 2816

In [ ]:
# 일단 스킵
n = int(input())
li = [input() for _ in range(n)]

result = ''
for i in range(n):
    if i == 0:
        if li[i] == 'KBS2':
            li[i], li[i + 1] = li[i + 1], li[i]
            result += '3'
        elif li[i] == 'KBS1':
            break
    else:
        if li[i] != 'KBS1':
            result += '1'
        else:

### 뚊 11383

In [90]:
n, m = map(int, input().split())

a = [input() for _ in range(n)]
b = [input() for _ in range(n)]

na = []
for v in a:
    nv = ''
    for vv in v:
        nv += vv * 2
    na.append(nv)
    
if na == b:
    print('Eyfa')
else:
    print('Not Eyfa')

2 2
AB
CD
AABB
CCDD
Eyfa

### 주디와 당근농장 16433

In [92]:
n, r, c = map(int, input().split())
r -= 1
c -= 1

li = [[''] * n for _ in range(n)]

if (r + c) % 2 == 1:
    for i in range(n):
        for j in range(n):
            if (i + j) % 2 == 1:
                li[i][j] = 'v'
            else:
                li[i][j] = '.'
else:
    for i in range(n):
        for j in range(n):
            if (i + j) % 2 == 1:
                li[i][j] = '.'
            else:
                li[i][j] = 'v'
                
for v in li:
    print(''.join(v))

4 2 3
.v.v
v.v.
.v.v
v.v.

### 그림 비교 2160

In [93]:
n = int(input())
li = [[input() for _ in range(5)] for _ in range(n)]

def get_diff_count(a, b):
    A = li[a]
    B = li[b]
    
    dc = 0
    for i in range(5):
        for j in range(7):
            if A[i][j] != B[i][j]:
                dc += 1
                
    return dc

mdc = float('inf') # min_diff_count
result = [-1, -1]
for i in range(n):
    for j in range(i + 1, n):
        dc = get_diff_count(i, j)
        if dc < mdc:
            mdc = dc
            result = [i + 1, j + 1]
            
print(*result)

3
..X...
.XXX...
.XX....
.....X.
.X...X.
...X...
..XX...
.XX....
.XX..X.
.X...X.
XX.....
X......
XX...XX
XXXX.XX
XXX..XX
1 2

### Fridge of Your Dreams 11104

In [96]:
n = int(input())
for _ in range(n):
    s = input()
    
    print(int(s, 2))

1
000000000001010101010101
5461

### 謎紛芥索紀 (Small) 14730

In [97]:
n = int(input())

total = 0
for _ in range(n):
    c, k = map(int, input().split())
    total += c * k
    
print(total)

3
3 3
2 2
1 1
14

### 귀여운 수~ε٩(๑> ₃ <)۶з 17294

In [99]:
li = list(map(int, input()))

diffs = set()
for i in range(len(li) - 1):
    diffs.add(li[i] - li[i + 1])
    
if len(diffs) < 2:
    print('◝(⑅•ᴗ•⑅)◜..°♡ 뀌요미!!')
else:
    print('흥칫뿡!! <(￣ ﹌ ￣)>')

630
◝(⑅•ᴗ•⑅)◜..°♡ 뀌요미!!

### 준오는 조류혐오야!! 14647

In [103]:
n, m = map(int, input().split())
li = [input().split() for _ in range(n)]

for i in range(n):
    for j in range(m):
        li[i][j] = li[i][j].count('9')
    
max_c9 = 0
total = 0
for i in range(n):
    c9 = sum(li[i])
    total += c9
    max_c9 = max(max_c9, c9)
        
tli = list(zip(*li))
for i in range(m):
    c9 = sum(tli[i])
    max_c9 = max(max_c9, c9)
    
print(total - max_c9)

2